[2018-09-27 18:13] mrocklin opened #56 "Thoughts on high level API"
I thought it would help a bit if I were to describe what an ideal API would be from my perspective.  This is high level and I'm happy to change things.

### Establishing connections

Ideally we have a server that is able to accept many connections and handle them appropriately

[code]

A client might connect to this server, producing some sort of communication object that can send an recieve messa

[2018-11-14 03:34] TomAugspurger opened #4 "First time setup"
Not sure if you're ready for these comments yet, but I thought I would log my this first timer's attempt at building ucx / ucx-py. I'm working of the `listen-accept-future-cleanup` branch right now.

My work is at https://github.com/TomAugspurger/ucx-docker-test.
https://github.com/TomAugspurger/ucx-docker-test/tree/gpu has a branch with CUDA.

1. `setup.py` mentions a `myucp2.c` file that isn't p

[2018-12-17 16:39] TomAugspurger opened #57 "Testing"
Collecting some thoughts on automated testing for ucx-py here. I'd be curious to hear others' thoughts here.

1. Infrastructure: right now to do any kind of testing we need a machine with a GPU, cuda, and infiniband. Is that correct? What parts of those are necessary as part of a basic Continuous Integration workflow? IIUC, infiniband is currently required because of https://github.com/openucx/ucx

[2019-01-11 18:21] Akshay-Venkatesh opened #10 "Opening a received message sent as a raw-list leads to a segfault"
https://github.com/Akshay-Venkatesh/ucx-py/pull/9/commits/e021cd9e95745d613857a87c9a5b31d5a5314a8b#diff-e1ef90528f798141106f3e84b2874f84R30

- Not sure if lists are arranged in a non-contiguous manner in memory and this leads to misinterpreting the received object. I may need `sys.getsizeof()` and something else if this is the case.

cc @TomAugspurger

[2019-01-14 23:25] Akshay-Venkatesh opened #11 "Build system fails with `fatal error: ucp/api/ucp.h: No such file or directory`"
@TomAugspurger
[code]
Seems like the absence of `ucp/api/ucp.h` in `/usr/include` causes this error ^

We probably need to append `-I $UCX_PY_CUDA_PATH/include -L $UCX_PY_CUDA_PATH/lib  -I $UCX_PY_UCX_PATH  -L $UCX_PY_UCX_PATH/lib` to `gcc -shared -fPIC ...` if the env vars are present? Lmk when you get a chance.

[2019-01-15 18:35] #11 closed, assigned to nobody

[2019-01-18 02:29] Akshay-Venkatesh opened #58 "Segfault on using received python object with some versions of libffi/cython/python"
@TomAugspurger
I'm Using this track the cause for the segault you see on your machine.

We basically want to find if there is a dependency on a specific version of libffi or cython or python in order to safely use the feature of sending/receiving python objects directly with ucx-py calls. The way this is realized is through two main instructions:

+ Get pointer to python object by casting as <void

[2019-01-21 14:15] TomAugspurger opened #14 "`start_server` callback behavior"
What's the expected behavior of the following?

[code]

When I run that the program hangs

[code]

Is it required that a client connect to a server before the server exits? Perhaps I misunderstand the purpose of the callback. Is it called when the server starts, or when the client connects?

For context, I'm running something like

[code]

which mimics https://github.com/dask/distributed/blob/b818

[2019-01-24 13:05] TomAugspurger opened #59 "Calling ucp_py_ep.close multiple times causes segfault"
(low priority).

[code]
[code]

I observe the same behavior when a server is running at that endpoint or not.

[2019-01-24 16:42] TomAugspurger opened #60 "Calling ucp.start_server multiple times causes segfault"
With this program

[code]

[code]

output

[code]

[2019-01-24 17:39] TomAugspurger opened #61 "Get remote address info"
Each Comm object in distributed has a `local_address` and (remote) `peer_address`. Is there a way to get similar information from UCX?

[code]

The remote address should be easy, since it's known when we create the Comm.

I'm not sure about the local address. For the TCP comm, the local address is the sockname of the underlying socket

[code]

[2019-01-24 23:13] mrocklin opened #62 "Open source this repository"
What are our plans on open source-ing this repository?  Will the work here be upstreamed into some UCX git repository, or will this one continue to live on?  If the latter then are there any administrative processes we should start within NVIDIA now to make this possible near-term?  It would be good to avoid being blocked on this in the future.

[2019-01-25 17:55] TomAugspurger opened #63 "Performance / Profiling"
Using this issue to debug performance issues.

https://gist.github.com/TomAugspurger/899add168d97ff394be03f093829d6c6 has a few files. Working off https://github.com/TomAugspurger/distributed/tree/ucx and ucx-py devel.

I don't have LocalCluster working with ucx-py yet, so it's assumed that something like

[code]

have been run.

Using `py-spy` I notice that the "idle" profile of UCX scheduler is

[2019-01-29 17:00] TomAugspurger opened #64 "Multiple listeners in the same process"
What's the recommendation for starting multiple listeners in the same process? I'm thinking of something like

[code]

That outputs

[code]

We're apparently hanging at `await a` (I'm not sure exactly where yet).

If I comment out the `b` related parts, so there's just a single listener, the output is as expected

[code]

[2019-02-05 19:49] TomAugspurger opened #26 "Segfault from tags"
Working to get an example using just ucx-py working. Having some difficulties with wifi at the moment.

When I start a dask cluster, the worker may fail with

[code]

A test like `pytest distributed/comm/tests/test_ucx.py -k test_ping_pong` will produce this.

[2019-02-06 16:47] #26 closed, assigned to nobody

[2019-02-06 16:59] TomAugspurger opened #27 "Passing Data between UCX and ucx-py"
Here's my rough understanding of the current situation for how we get data between python and ucx: ucx-py and ucx pass data
via a `data_buf`, which is just a struct with a `buf` field, a pointer to the
start of some region of memory.

To get between Python objects and the `data_buf.buf`, we use `populate_buffer_region`
and `return_ptr_from_buffer`.

[code]

See

- https://github.com/Akshay-Venkate

[2019-02-11 14:20] #14 closed, assigned to nobody

[2019-02-11 16:59] #10 closed, assigned to nobody

[2019-02-18 11:59] TomAugspurger opened #65 "Conda Packages"
It'd be nice to have conda packages for UCX and uxc-py.

I have a start at
https://github.com/TomAugspurger/ucx-py/tree/conda-recipes in https://github.com/TomAugspurger/ucx-py/blob/conda-recipes/conda-recipes/ucx/meta.yaml.

You should be able to `conda install -c tomaugspurger ucx` into a new environment (`conda create -n ucx-dev python=3.7`) and then activate. Then things like `ucx_perftest` wi

[2019-03-05 17:47] Akshay-Venkatesh opened #66 "Sub-optimal internode performance for numpy transfers"
@TomAugspurger

The peak bandwidth on this system between two nodes is close to 12GB/s but I'm seeing less than that with the `recv-into-client.py` benchmark. Will try understand the cause and update here:

[code]

[2019-03-05 18:09] Akshay-Venkatesh opened #67 "Error in transfer of large cupy objects"
@TomAugspurger Looks like wrong detection of buffer type because `rma_get` protocol shouldn't be used for cuda buffers. Will update more with possible causes.
[code]

[2019-03-06 17:27] #27 closed, assigned to nobody

[2019-03-07 14:28] #4 closed, assigned to nobody

[2019-03-07 14:39] TomAugspurger opened #68 "Linking issue in our shared object"
When building from source, and importing `ucp_py` from another directory, I see

[code]

Setting `LD_LIBRARY_PATH` fixes this

[code]

I believe that's because the necessary files like `libuc` aren't in the normal search path for python (something like `${CONDA_PREFIX}/lib`.

I'll look a how other libraries handle this.

This shouldn't affect our conda packages, as `conda install ucx` will place t

[2019-03-07 15:52] TomAugspurger opened #44 "Helper method to start a listener at some port"
For distributed (specifically, starting a worker with a Nanny), I need the ability to start a listener on some available port. In this case, I don't care what the port is, as long as I can inspect it after the listener has started.

I'm trying to compare this to how sockets work, but I'm not sure it's a perfect analog. IIUC, a socket server will

1. bind to a `(host, port)` and start accepting inc

[2019-03-11 11:50] #44 closed, assigned to nobody

[2019-03-14 17:12] TomAugspurger opened #69 "Occasional hang in `tests/test_send_recv_obj.py`"
[code]

will usually reproduce.

Under UCX_LOG_LEVEL=DEBUG, I don't really notice a much of a difference between success and hangs (these are for send_recv_numba):  https://gist.github.com/0eaa7914ca6bf35bc2be88a4424e1b19

On the successful one, we have

[code]

on the hang we just have

[code]

so probably hanging when closing the endpoint.

[2019-03-15 12:00] TomAugspurger opened #70 "Handle empty cuda arrays"
Right now, we don't handle empty cuda arrays well.

Numba represents these as an object whose data field is `(None, _)`.

[code]

cupy represents them with a `(0, _)`:

[code]

I know that we fail immediately on the first case.

[code]

Not sure about the second one

[2019-03-22 16:14] mrocklin opened #71 "Drop explicit unpacking of NumPy/CuPy/Numba objects?"
From listening to a talk by @Akshay-Venkatesh it sounds like we unpack NumPy arrays, CuPy arrays, and so on.  This seems great, especially if we can leverage general protocols like the buffer protocol or the `__cuda_array_interface__` protocol.

However, I was surprsied that we also recreate these objects on the receiving end.  I would expect ucx-py to mostly pass around bytes-like things (or obje

[2019-03-25 23:56] Akshay-Venkatesh opened #72 "Relax expectation of integer bounds on length of bytes passed to send/recv operations"
Ran some tests with 8GB transfer of data and saw overflow errors

[2019-04-02 20:56] Akshay-Venkatesh opened #73 "High Latency + Slow to reach peak bandwidth saturation with UCX-py"
[code]

Slow to reach peak bandwidth (compare 10MB and 100MB):
[code]

[2019-04-02 21:05] Akshay-Venkatesh opened #74 "Add blocking progress support for NVLINK in UCX (not UCX-PY)"
UCX-py relies on `ucp_worker_arm`, `ucp_worker_get_efd` and `ucp_worker_signal` to wait for send/recv event completion especially in the context of unblocking coroutines. It's the responsibility of different UCTs like IB, TCP, cuda-ipc, to provide this capability. IB and TCP have native capability to notify completion of events through file descriptor whereas CUDA doesn't. In addition, `cuda_ipc`

[2019-04-03 16:25] Akshay-Venkatesh opened #76 "Low bandwidth in TCP/Managed memory transfers in UCX"
- These transfers rely on active message protocol and don't show full bandwith
- We need a 3-stage pipeline to overcome this

[2019-04-08 17:20] Akshay-Venkatesh opened #77 "matrix summation x + x.t leading to segfaults over distributed-ucx"
Tracking the issue that @quasiben reported.

From the backtrace it appears that the dask-scheduler is seeing a segfault via `ucp_tag_send_nb`->`dt_pack` which ends up using an invalid pointer. A likely suspect here is releasing the python object before send is complete.

cc @jakirkham

[2019-04-08 18:01] quasiben commented on #77
@Akshay-Venkatesh @jakirkham
 I have a small gist related  which demonstrates the segfault I am currently trying to resolve https://gist.github.com/quasiben/926d82fdcca861a131828b63edb9b1b7

also, I'm using @TomAugspurger start-up script for dask: https://github.com/TomAugspurger/dask-perf/blob/master/start.sh

[2019-04-08 23:36] Akshay-Venkatesh commented on #77
This tells me that there was an issue with connection establishment at some point:
[code]
I'll look into what's the cause for this and how this can be fixed

[2019-04-09 00:43] quasiben commented on #77
I wonder if the underlying issue is related to 0 length arrays like https://github.com/Akshay-Venkatesh/ucx-py/issues/70 or possibly the listener infrastructure: https://github.com/Akshay-Venkatesh/ucx-py/issues/64 ?

[2019-04-09 00:43] quasiben commented on #62
I think this issue can be closed

[2019-04-09 18:35] Akshay-Venkatesh commented on #77
@quasiben was looking at `dask-dot-prod.py` which I assume was the base for the `X + X.T` test that you're running. The shape of X isn't a square unless you've modified that in your test. So something like this shouldn't be expected to work:
[code]
Just wanted to run this by you to make sure.

This on the other hand should work:
[code]

With the square matrices, I was able to run the dask-job with

[2019-04-09 18:42] Akshay-Venkatesh commented on #77
I've added the test here: https://github.com/Akshay-Venkatesh/ucx-py/blob/devel/tests/dask-sum.py

[2019-04-09 19:13] quasiben commented on #77
@Akshay-Venkatesh, the test originally was inspired by `dask-dot-prod.py` but I change two things.

1. As you noted the shape -- it should now be square
2. Random -> ones (easier to debug)

[code]

[2019-04-10 21:41] Akshay-Venkatesh commented on #74
- Additions on this branch address this issue: https://github.com/Akshay-Venkatesh/ucx/tree/topic/cuda-ipc-event-notif-fd
- Able to improve performance from 350 MB/s -> 7 GB/s but still not peak.

[2019-04-11 04:52] Akshay-Venkatesh commented on #74
- UCX-py is still not seeing the benefits of adding blocking progress in CUDA-IPC. Looks like some other capability needs to be added but this may not be a huge delta but about figuring out why CUDA-IPC UCT isn’t being picked up with server-client mode.

[2019-04-13 00:26] #64 closed

[2019-04-15 17:56] Akshay-Venkatesh commented on #74
- Worked with UCX developer @bureddy to narrow down the cause of this issue to configuring `cuda_ipc` iface (https://github.com/openucx/ucx/pull/3479) and to the test itself
- We're able to reach close to expected perf now

[2019-04-16 02:21] Akshay-Venkatesh commented on #73
Early performance analysis is indicating slowness in detection of read events being the culprit. Some details here:

[code]
[code]
[code]
[code]
https://gist.githubusercontent.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/raw/4ab3b1020807bbe222a0a986c6fa7eee825b6d71/server-hist.log
https://gist.githubusercontent.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/raw/4ab3b1020807bbe222a0

[2019-04-16 05:40] #62 closed

[2019-04-17 00:08] Akshay-Venkatesh commented on #73
- I've been able to narrow down on the culprit high latency with ucxpy

- for short messages: https://gist.github.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/revisions#diff-21189b76dce45b69408917b664a5412f

 - for large messages: https://gist.github.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/revisions#diff-ea22c5ce84c7a98c47eb6ec833c01aab

 - this two links contains rows of th

[2019-04-17 18:05] mrocklin opened #79 "Ask for endpoint with random port"
It would be useful to ask for a connection at a random unused port.  This is handy when making several connections from the same machine where you don't care much about what port is used, as long as it is not already taken.  In TCP-based systems port 0 is often used for this.

I think that @quasiben already brought this up informally, I just wanted to have something here for tracking.

[2019-04-17 18:19] mrocklin opened #80 "How should libraries clean up?"
As a library user of this library, how should I clean things up?  Am I responsible for calling the global `ucp.fin` function?  What if some other library is also running that wants to use UCX?

[2019-04-17 18:39] mrocklin opened #81 "How to gracefully close a endpoint?"
When I want to close an connection, I would prefer to signal to the other end that we're done, then wait for all remaining messages to come through, and then finally close things.  Is there a clean way to do this?

[2019-04-17 18:41] mrocklin opened #82 "Drop `_py` from the library name?"
It seems like it's common to import this library as ...

[code]

I wonder if, instead, we might just structure the Python library so that it is named `ucp` from within Python.  This repository would continue to be named `ucp-py`, but we would import it just as `ucp`.  This might be a bit more idiomatic from the Python side.

[2019-04-17 18:51] Akshay-Venkatesh commented on #82
That would be fine, Matt. I don't have an issue with this.

[2019-04-17 19:04] quasiben opened #83 "Programmable env vars"
Often we are setting env vars like:
- `UCX_MEMTYPE_CACHE`
- `UCX_NET_DEVICES
- `UCX_RNDV_SCHEME`

Being able to programmatically set these values would make for a nicer experience.  One suggestion might be to build a Context object prior to importing ucp_libs and set/get values from that object

[code]

[2019-04-17 20:34] quasiben commented on #82
I'd be happy to make the changes necessary

[2019-04-17 21:18] Akshay-Venkatesh commented on #82
@quasiben Please go ahead. Just a heads up that you would need to make changes in tests and benchmarks which make the above usage.

[2019-04-18 16:56] Akshay-Venkatesh commented on #79
@mrocklin checked to see if passing sockaddr with port 0 to `ucp_listener` at just UCX C-level works but tests show otherwise. We may need to add this functionality in UCX.

Out of curiosity, once a random port is used for binding where a listener is listening, how does the client know which port to connect to at the listener site? Is this conveyed out of band?

[2019-04-18 16:59] Akshay-Venkatesh commented on #83
+1

[2019-04-18 17:03] Akshay-Venkatesh commented on #80
At the moment, cleanup is explicit. This is kind of inline with the MPI world. The main program is responsible for initiating `MPI_Init/ucp.init()`; other libraries may be used in the main program and MPI/UCX handles are passed to it; libraries wouldn't clear/initiate resources; finally, on completion of library routines the main program cleans up through `MPI_Finalize/ucp.fin()`

Is this contrary

[2019-04-18 17:18] mrocklin commented on #80
Well its tricky because we're making a Python library rather than a Python application.  I guess we could require users to call `ucp.init()` and `ucp.fin()` on their own, but honestly I wouldn't mind hiding this from them.  Most of them won't know what UCX is.

What are the costs of calling `ucp.init` when we import `ucp`?  Or alternatively can we make `ucp.init` idempotent so that Dask can do thi

[2019-04-18 17:20] mrocklin commented on #79
Sort of.  Dask is peer to peer, with a single known peer whose address is conveyed out of band.  Everyone else connects to this central listener (we call this the scheduler) and tells that central listener the address on which they are listening.  When two peers need to communicate to each other the central scheduler tells them the relevant addresses.

[2019-04-18 17:20] Akshay-Venkatesh commented on #81
Today we use this:
[code]
But we can switch over to [this](https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h#L282) to flush out local outstanding operations.

I'm not sure how we can achieve this for remote outstanding operations though because we would need to define what _remaining_ messages mean. I can check on this and get back.

[2019-04-18 17:36] Akshay-Venkatesh commented on #80
I suppose we could go about calling `ucp.init()` when `ucp` module is imported. What would be a good time to cleanup resources? Is it safe to detect `ucp` module being unloaded and have `ucp.fin()` be called there?

`ucp.init()` is a fairly light-weight operation.

IIUC, we could also make `ucp.init` idempotent and maintain a _refcount_ so that we all resources are cleaned up when a series of `ucp

[2019-04-18 19:47] mrocklin commented on #80
It sounds like, short term, a lightweight solution might be to ...

-  Make ucp.init idempotent (or give us a way to see if it has been run)
-  Call ucp.init in Dask's UCP comm file
-  Not worry users too much about calling `ucp.fin`, and not worry about this in Dask

[2019-04-18 19:51] jakirkham commented on #80
Are both of you familiar with [RAII]( https://en.wikipedia.org/wiki/Resource_acquisition_is_initialization )? If so, I think that might clean this up a bit and help meet Python users where they want to work, but still handle the explicit setup/teardown that C/C++ libraries do. My guess is this is not too difficult to do. It sounds like you are both dancing around this idea already. Thoughts? 🙂

[2019-04-18 20:12] Akshay-Venkatesh commented on #80
+1 to Matt's suggestion.

@jakirkham I'm not familiar with RAII but if there's are established ways of dealing with this problem, I'm for that route.

[2019-04-19 02:28] jakirkham commented on #80
Yes, RAII is an established practice to handle acquisition of some resource at initialization and release during object destruction. The practice comes from C++, but has spread more broadly. We could have a small Cython object that handles both of these bits and assign one global instance of it in the module (e.g. happens during import). This would hopefully move away from having a Python user thi

[2019-04-19 02:45] jakirkham commented on #80
Just to make this a bit more concrete, I'm imagining something like the following...

[code]

That way when this module is imported, the setup is done during the import. Python will cache imported modules so we don't really need to worry about this happening more than once. It will also be cleaned up whenever the process terminates.

Thoughts? Happy to tweak this or even scrap it if this snippet d

[2019-04-19 03:31] Akshay-Venkatesh commented on #80
This is really concrete. Now that I think about it, I remember Tom Augspurger having used a similar approach in distributed code that he wrote a while ago. I'll give this a shot tomorrow.

[2019-04-19 03:39] jakirkham commented on #80
Well one thing I've left out is error handling. Had looked at `ucp_py_init` and `ucp_py_finalize` and saw they are returning error codes. We probably want to check if the error code is non-zero in either of those places and raise some kind of error (maybe a `RuntimeError`?). Though happy to defer to you on this point. Particularly as I'm not too aware of what error codes might show up or what they

[2019-04-19 16:08] jakirkham commented on #80
cc @quasiben (as we discussed this earlier)

[2019-04-19 16:46] mrocklin commented on #80
Also, just to be clear, this is not a high priority.  Things are fine
today.  I didn't necessarily want everyone to focus on this, just bringing
it up for eventual discussion.

On Fri, Apr 19, 2019 at 11:08 AM jakirkham <notifications@github.com> wrote:

[2019-04-19 20:07] jakirkham commented on #80
Sure, just wanted to provide the missing context for our earlier conversation. 🙂

[2019-04-19 20:14] jakirkham commented on #80
Should add I'd also like to check and see if [my earlier suggestion]( https://github.com/Akshay-Venkatesh/ucx-py/issues/80#issuecomment-484750504 ) would work ok with the idea proposed in issue ( https://github.com/Akshay-Venkatesh/ucx-py/issues/83 ).

[2019-04-22 21:19] #82 closed

[2019-04-23 20:26] mrocklin opened #87 "Segfault in test_buffer_region"
Simplifying down `test_numpy` I can get the following test to fail.

[code]

This segfaults sometimes.  Other times it fails within NumPy when creating a numpy array from the buffer region.

One thing I notice, is that the shape of this object is odd

[code]

@Akshay-Venkatesh does this test pass on your machine?

[2019-04-23 20:32] mrocklin commented on #87
Or, more generally, do the tests in the `tests/` directory pass?

[2019-04-23 20:43] mrocklin commented on #87
Some potentially useful information from gdb

[code]

[2019-04-23 22:12] mrocklin opened #88 "Unable to connect on any available transport"
Any suggestions on how to diagnose/debug this?

[code]

[2019-04-23 22:39] mrocklin commented on #88
### Ethernet network interface

[code]

### Infiniband network interface

[code]

[2019-04-24 15:05] quasiben commented on #88
I am able to reproduce with the conda package but not when building from source

[2019-04-24 16:24] quasiben commented on #88
My current suspicion is a problem with the underlying UCX package.  @jakirkham do you have time to look at this with me some time today?

[2019-04-24 18:13] quasiben commented on #88
Update:

After chatting with @Akshay-Venkatesh and @jakirkham, we believe this is due to rdma *not* being included in the conda package.  We are working to resolve this now

[2019-04-24 18:22] mrocklin commented on #88
Thanks all

On Wed, Apr 24, 2019 at 1:13 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-04-25 00:27] Akshay-Venkatesh commented on #87
@mrocklin This (buffer protocol) is one of the less understood areas of the code for me. I'll take a closer look and update here.

[2019-04-25 00:34] mrocklin commented on #87
Same with us all :)

@pentschev if you wanted to play around with UCX this might interest you

[2019-04-25 07:39] Akshay-Venkatesh commented on #87
@mrocklin Went through these two references to understand buffer protocol a bit more:
[1] https://jakevdp.github.io/blog/2014/05/05/introduction-to-the-python-buffer-protocol/
[2] https://cython.readthedocs.io/en/latest/src/userguide/buffer.html

I noticed that `__getbuffer__` is implemented but not `__releasebuffer__` here (https://github.com/Akshay-Venkatesh/ucx-py/blob/devel/ucp/_libs/ucp_py_bu

[2019-04-25 12:37] mrocklin commented on #87
Maybe.  I am also ignorant of how the buffer protocol works.

Correct

[2019-04-25 13:57] mrocklin commented on #83
@Akshay-Venkatesh is this something that someone other than you could do?

If so, can you provide pointers on how to do this?

Also, rather than a context I could imagine passing these values directly to the `ucp.init` call.

[2019-04-25 15:00] mrocklin opened #91 "Poor performance on benchmarks/recv-into-client.py"
After following the instructions on [this doc](https://docs.google.com/document/d/1d7D5QNy4jFA7UYHjzxCrb1DrKUZ8g67UuVQF7cvi9rc/edit?usp=sharing) both @rjzamora and I got sub-optimal performance on `benchmarks/recv-into-client.py`

### Expected

[code]

### Observed

[code]

Is there something we can do to diagnose this?

cc @Akshay-Venkatesh @pentschev

[2019-04-25 15:01] mrocklin commented on #91
I at least am running this on NVIDIA's DGX-16 box.

[2019-04-25 15:29] pentschev commented on #91
Could you try on DGX-15 as well, just in case? I'd like to eliminate the possibility of diverging software configurations between the two.

[2019-04-25 15:31] mrocklin commented on #91
I'll try that out

On Thu, Apr 25, 2019 at 10:29 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-04-25 15:49] mrocklin opened #92 "Use Python naming conventions"
For user-visible classes and methods, it might be useful to use Python conventions for names. A few themes to be aware of.

-  Camel casing for classes
-  Generally we don't namespace with underscores, c-style, but rely on namespaces or context

So a couple of concrete recommendations

[code]

[code]

I briefly tried making a few of these changes but ran into compile errors, I suspect due to misma

[2019-04-25 15:53] rjzamora commented on #92
Sure - I can try to work in these style changes.  Any thoughts/suggestions from @Akshay-Venkatesh are welcome

[2019-04-25 16:00] mrocklin commented on #91
Confirmed that things work well on dgx-15.  Do we know what the hardware difference is between those two machines?

[2019-04-25 16:03] pentschev commented on #91
I suspect it's not a hardware difference, but rather software. I've heard it's still quite cumbersome to have everything working smoothly, we'll need to escalate this to ops.

That being said, I think this issue can be closed, since it's not an issue with ucx-py.

[2019-04-25 16:06] mrocklin commented on #91
Lets keep it open for now if it's ok.  I think we're effectively using this issue tracker for general experience (or at least, I know of no better place).

For context, I didn't build anything differently.  I just used the same environment that was built on dgx-16 on dgx-15 (they are connected with NFS).

[2019-04-25 16:10] pentschev commented on #91
Fine by me.

Yes, I've heard the same from @rjzamora, I think it's fair to rule out an issue with any of your environments. My suspicion is really that we have something misconfigured, but there may exist a physical connection problem, even though I would expect that to manifest in a different form (e.g., an error or missing networking interface).

[2019-04-25 16:16] mrocklin commented on #92
You might also keep your eyes open for other situations where novice Python users might be somewhat confused by the interface.

[2019-04-25 16:58] #81 closed

[2019-04-25 18:35] TomAugspurger commented on #87
Some probably unhelpful context: when initially implementing things, I was getting nonsense shapes for the output. IIRC it was an error somewhere in my code (I think the wrong format code?).

Releasing memory was definitely a todo I never got to.

[2019-04-25 19:46] rjzamora commented on #92
I submitted PR#93 to address the class-naming component of this issue.  I made a few changes to the python source without needing to touch the pure C code.  The `EndPoint` name change does break dask compatibility, but the fix is simple.

[2019-04-25 21:26] #79 closed

[2019-04-26 14:03] mrocklin opened #94 "test_send_recv_cupy"
I'm trying to figure out the following test:

https://github.com/Akshay-Venkatesh/ucx-py/blob/b5e18f3bfbc253cc63d9d07d6ac0f6f23c3ec706/tests/test_send_recv_obj.py#L67-L85

Some questions:

-  Why do we pass in the shape and dtype ahead of time to the server?  Is this necessary or is it just for this test?
-  Why do we send `b'2'` before the actual message?

I get a segfault when I run this

[code]

[2019-04-26 14:18] mrocklin commented on #94
@pentschev have you been able to transfer GPU/cupy data with ucx-py?  I'm curious if this is maybe just something that is wrong with my software environment.

[2019-04-26 14:46] TomAugspurger commented on #94
The test echo server here sends messages in pairs: the first message indicates the size of the subsequent message (2 bytes).

The echo server setup by `echo_pair` at  https://github.com/Akshay-Venkatesh/ucx-py/blob/devel/ucp/_utils.py#L41 will materialize bytes into the correct object before echoing. Users wishing to recv into GPU memory need to ask for that explicitly with by passing `cuda=True`

[2019-04-26 14:50] quasiben commented on #94
@mrocklin you may need a specific version of cupy.  I think @pentschev recommended using `cupy-cuda92==6.0.0b2` .  What cupy version are you using ?

[2019-04-26 14:52] mrocklin commented on #94
I am using that version (I set things up from Peter's document)

On Fri, Apr 26, 2019 at 9:50 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-04-26 16:37] pentschev commented on #94
When I tested this ~2 weeks ago, I got the same segfault that you got, @mrocklin, then I stopped there. If need be, I can try to take a look at this issue next week.

This won't solve this issue, but I suggest upgrading to `cupy-cuda92==6.0.0rc1`.

[2019-04-26 16:55] quasiben commented on #94
I just ran the test without issue from latest in `devel`

[2019-04-26 18:47] pentschev commented on #94
I can confirm this, just tried and it worked for me too.

@mrocklin in our getting started document you replaced `--host=ucx://...` by `--interface ib0`, when you do that, you launch dask distributed in tcp mode, for ucx we have to pass the correct protocol. Can you try running scheduler/workers by passing the ucx protocol, as it used to be before?

[2019-04-26 19:00] mrocklin commented on #94
[code]

[code]

[code]

[2019-04-26 19:04] mrocklin opened #95 "Performance of recv_obj vs recv_future"
Currently in the Dask UCX Comm we send the lengths of all of the bytestrings ahead of time, and then use `ep.recv_obj(nbytes=)` for each frame.  Should we instead be using `ep.recv_future()` and trust UCX to handle sending the framing for us?  What are the performance implications of `recv_obj` vs `recv_future`?

[2019-04-26 19:11] quasiben commented on #94
can you should the ouput of `conda list ucx -n ucx-dev`

[2019-04-26 19:21] mrocklin commented on #94
[code]

Note that I'm building from source

[2019-04-26 19:46] Akshay-Venkatesh commented on #95
Both `recv_future` and `recv_obj` result in memory being allocated in the critical path today. The difference as you may already know is that recv_future probes the network for an incoming message and allocates memory on _host_ appropriately. `recv_obj` allocates memory on _host_ / _device_ according to the hint passed.

If the message size and type of the incoming transfer size is known ahead of

[2019-04-26 19:48] mrocklin commented on #95
OK, that answers my question.  Thanks @Akshay-Venkatesh !

[2019-04-26 19:48] #95 closed

[2019-04-26 19:57] Akshay-Venkatesh commented on #94
@mrocklin My $0.02 - The underlying cause is definitely because UCX isn't recognizing that the buffer being passsed is a cuda buffer. Because of this, `dt_pack` (which results in a `memcpy` call), is being called on a cuda buffer which causes the segfault. Usually this happens when I end up picking up the vanilla version of UCX C library (which may not be built with CUDA support).

Not sure if any

[2019-04-26 20:06] quasiben commented on #94
@mrocklin and I resolved the issue.  I think it was due to UCX not being built with `rdmacm` (this has since been added to the document and using `UCX_MEMTYPE_CACHE=n` when running the test

[2019-04-26 20:06] mrocklin commented on #94
Thanks @Akshay-Venkatesh .  Confirmed.  I'm now in the same state.  @quasiben helped me with adding the right flags to the ucx build process.  We've now updated the [build doc](https://docs.google.com/document/d/1d7D5QNy4jFA7UYHjzxCrb1DrKUZ8g67UuVQF7cvi9rc/edit?usp=sharing) with these details.

[2019-04-26 20:14] Akshay-Venkatesh commented on #94
Good to know that the problem is resovled but  the cause for the error being `rdmacm` doesn't quite make sense. If `rdmacm` was your issue, then the problem wouldn't be isolated to `cupy`, you would've seen errors with other tests as well because `rdmacm` is for connection management alone.

[2019-04-26 21:12] quasiben commented on #94
@Akshay-Venkatesh you are probably right.  I forgot we also switched to branch v1.5.1

[2019-04-26 23:09] Akshay-Venkatesh commented on #73
Small update on this - @quasiben's uvloop suggestion:

Using uvloop is showing some benefits with almost zero code changes:
[code]

Changes needed:
[code]

[2019-04-26 23:16] Akshay-Venkatesh commented on #73
Differences in terms of latency:
[code]

[2019-04-27 00:06] mrocklin commented on #73
That's really cool to see.

On Fri, Apr 26, 2019 at 6:16 PM Akshay-Venkatesh <notifications@github.com>
wrote:

[2019-04-27 16:22] Akshay-Venkatesh commented on #94
@mrocklin @quasiben Shall I close this now that the issue is resolved?

[2019-04-27 16:25] mrocklin commented on #94
Yup.  Thanks @Akshay-Venkatesh !

[2019-04-27 16:25] #94 closed

[2019-04-29 15:02] mrocklin opened #97 "Destination is Unreachable causes segmentation fault"
In running some of the Dask tests I come across this

[code]

Probably this is some configuration or mismatch on my end.  Ideally though for failures like these we would raise some informative Python exception rather than halt the program.

[2019-04-29 17:47] mrocklin opened #98 "Dask comm performance benchmarking"
I'm running a benchmark on UCX-powered Dask comms here: https://github.com/TomAugspurger/dask-perf/blob/b09680b7001fcf14e1d0e2f657ab9bb83febc772/bench_comm.py (modified from @TomAugspurger 's benchmark)

I get only about 1GB/s bandwidth, and suspect that I might be able to get more.

When I profile things with the cProfile module I get the following output

[code]

[code]

Most of the time is in t

[2019-04-29 18:16] TomAugspurger commented on #98
To isolate allocation, you could try using recv_into.

[2019-04-29 18:23] mrocklin commented on #98
I suspect that somewhere @Akshay-Venkatesh already has benchmarks comparing `recv_into` and `recv_obj`.  Is 1GB/s what I should be expecting for `recv_obj`?

My guess is that `recv_into` isn't feasible for Dask comms (we're probably not the right level of project to manage memory).  I would also expect better memory bandwidth on the host side than 1GB/s, though I'm a bit out of my depth here.

[2019-04-29 18:37] mrocklin commented on #92
This seems to be resolved.  Thanks @rjzamora

[2019-04-29 18:37] #92 closed

[2019-04-29 18:39] mrocklin commented on #77
This seems to be ok today.

[code]

This is now also a test in #86

Closing for now.  Please let me know if this comes up again.

[2019-04-29 18:39] #77 closed

[2019-04-29 18:52] Akshay-Venkatesh commented on #98
@mrocklin Am I reading things right when I see that you're running the bench with 20MB data? I see this for `recv_obj` with host/cuda buffers (4MB-32MB)
[code]
So the performance you're seeing is not unreasonable IMO.

This is much lower in perf compared to `recv_into`:
[code]

Like you said, the allocation in the critical path is hurting performance.

[2019-04-29 18:55] Akshay-Venkatesh commented on #98
@mrocklin Moving to a memory manager is something would directly impact performance here. Do you know of the applicability of the memory manager used elsewhere in RAPIDS in this context?

[2019-04-29 19:01] mrocklin commented on #98
OK, yes you're right, it looks like I'm only able to allocate at about 2GB/s

[code]

This is slower than I expected.

Yes, but it only improves marginally when I increase from here.

My assumption is that the RAPIDS memory manager would be GPU-only.  I don't know though.

[2019-04-29 19:06] mrocklin commented on #98
@seibert do you have any thoughts here?  It seems like we're bound by allocating numpy arrays.  This allocation speed is slower than I would have expected.  Does this match your intuition?

(sorry to engage you on this numba-unrelated matter, but my guess is that you'll find this interesting and have things to say)

Also, does it make sense for NumPy to grow a memory manager?

[2019-04-29 19:12] Akshay-Venkatesh commented on #98
@mrocklin Can you elaborate a little bit more on this? Is it possible to have Dask maintain some persistent communication buffers and just use those? (so that we can use `recv_into`). This is also how HPC codes generally deal with the issue.

[2019-04-29 21:10] mrocklin commented on #98
We could do something like this, yes, but our situation is a bit less structured than a typical HPC code, so we would need to be more careful about when data is safe to reuse.  We don't really know what will happen to the bytes that come through here.  They get passed into Python objects and then are handed off to user code.  Sometimes they're short lived, sometimes they're not.  The user can do w

[2019-04-29 23:23] Akshay-Venkatesh commented on #73
@mrocklin Another finding - I see that from the time the UCX file descriptor is notified of a communication completion event to the point when asyncio loop.add_reader method sees is separated by about 120 microseconds (90 us with uvloop). If we take out memory allocation out of the picture (supposing we get an efficient memory manager), then this would be the main overhead.

[2019-04-29 23:57] mrocklin commented on #73
Strictly from an ETL standpoint I'm not too troubled by this.

We care far more about bandwidth than latency, and are often sending around messages that are in the 100MB range.  The tables above tell me that I should be quite happy.

However, expanding to other applications, like parameter servers in deep learning, yes, I do become concerned, but that's fairly far down the line for me personally.

[2019-04-30 00:03] mrocklin commented on #73
Still happy to engage here though (I suspect that even if I don't care as much currently, that you do).

At one point I think that you benchmarked asyncio and found that it added a few microseconds.   Reading your comment above more closely it sounds like we might be limited by the file descriptor/non-blocking socket behavior.  Is that correct?  Is this bound by the OS or Python?

One thing that m

[2019-04-30 00:06] mrocklin commented on #73
This is also the kind of thing that @pitrou might know about.

@pitrou if you have any interest I think that you might enjoy speaking with @Akshay-Venkatesh at some point.  Akshay works on [OpenUCX](http://www.openucx.org/), a high performance networking library that we're connecting to Python (for Dask at first, but the work is general purpose).  Akshay is mostly a C/C++ performance-oriented deve

[2019-04-30 00:08] Akshay-Venkatesh commented on #73
I think this is an asyncio loop issue. uvloop alleviates the issue a little bit. Having said this, does use of PyPy as opposed to CPython still make a difference?

As long as there's a more efficient event loop that lets us read file descriptor notifications quicker (or express a way to unblock a blocked coroutine), I'm happy to try.

[2019-04-30 06:33] pitrou commented on #73
If this involves asyncio and uvloop then @1st1 may be interested to hear about it.

[2019-04-30 06:34] pitrou commented on #73
(asyncio involves several layers and has its IO loop implemented in Python, so perhaps a 100 µs latency is expected, though unfortunate)

[2019-04-30 23:23] Akshay-Venkatesh commented on #97
@mrocklin 3a71864 should address this. There is one case when notification that destination is unreachable arrives late in which case the error message is printed but no exception is raised (because we can't catch this at a reasonable place). I can still detect that but the best I can probably do there is to terminate the program. Will that work?

[2019-04-30 23:37] mrocklin commented on #97
Ideally the program wouldn't terminate.  Having the program terminate is very odd for Python users, particularly when working interactively.  Instead, they typically see exceptions that tell them that things didn't work, and then they go ahead and try something else.

For example, a user might set up a bunch of work on their own, then decide to use Dask + UCX, get an error, and then decide to use

[2019-05-02 19:28] mrocklin opened #99 "Dask GPU comm performance benchmarking"
Here is another benchmark.  This uses the following branches:

### Environment

-  quasiben/distributed@tom-ucx
-  mrocklin/dask-cuda@protocol
-  Akshay-Venkatesh/ucx-py@devel
-  Akshay-Venkatesh/ucx@ref/ucx-cuda

[code]

Using [Peter Entschev's doc](https://docs.google.com/document/d/1d7D5QNy4jFA7UYHjzxCrb1DrKUZ8g67UuVQF7cvi9rc/edit?usp=sharing) for installation instructions (Except that I'm usin

[2019-05-02 20:11] mrocklin commented on #99
I've resolved the comm.close issue on the Dask side.  I don't notice a significant change in behavior.

[2019-05-02 20:30] rjzamora commented on #99
@mrocklin I am having trouble getting the benchmark to run at all.  I can't even get the ucx-py tests to work either.  Are you able to run the tests and client-server benchmark from Peter's doc?

Note that I can get the ucx-py tests working with the `v1.5.1` ucx branch, but the benchmark above still gives me the following error:
[code]

[2019-05-02 20:34] mrocklin commented on #99
Can you share the full traceback?

[2019-05-02 20:34] mrocklin opened #100 "Trouble closing Dask comms"
This is possibly a problem on the Dask side, but any help interpretting the error message would be welcome.  cc @Akshay-Venkatesh @rjzamora

[code]

[code]

[2019-05-02 20:35] Akshay-Venkatesh commented on #99
Also @mrocklin which branch of `dask-cuda` should I be using? `branch-0.7` or `protocol` ?

[2019-05-02 20:38] mrocklin commented on #99
protocol

[2019-05-02 20:38] rjzamora commented on #99
@mrocklin - How should I run the benchmark?  I am getting this for a simple `python` run:
[code]

[2019-05-02 20:40] mrocklin commented on #99
@rjzamora it's using the tcp protocol, can you verify that you're using mrocklin/dask-cuda@protocol ?

You can verify this by printing out the client.  It should include the text `ucx://` and should not include the text `tcp://`

[2019-05-02 20:46] Akshay-Venkatesh commented on #99
@mrocklin I don't see where the test is allowing use of device 1. `nvidia-smi` agrees with me and shows only device 0 being used when I run this benchmark:

[code]
Elsewhere:
[code]

P.S I'm figuring out how to use UCX, I'm seeing this error:
[code]

[2019-05-02 20:50] Akshay-Venkatesh commented on #99
ucx missing could be explained by this possibly:
[code]

[2019-05-02 20:55] Akshay-Venkatesh commented on #99
Can you provide me the change for this? I'm at this point now.

[2019-05-02 20:56] mrocklin commented on #99
It has been pushed to quasiben/distributed@tom-ucx

[2019-05-02 20:57] mrocklin commented on #99
Can you verify that you're using the quasiben/distributed@tom-ucx branch?

to be clear, when I use that notation I mean the github repository git@github.com:quasiben/distributed at the `tom-ucx` branch.

[2019-05-02 20:58] mrocklin commented on #99
I've added this line to the example above to verify that we're actually using ucx

            assert client.scheduler.address.startswith('ucx')

[2019-05-02 21:04] Akshay-Venkatesh commented on #99
@mrocklin Able to get things running with UCX now:

[code]
I still see the same error though :/
[code]

That aside, we're not going over NVLINK because only device 0 is being used by the benchmark:
[code]

[2019-05-02 21:11] mrocklin opened #101 "undefined symbol: cuCtxGetDevice"
When I build with the ref/ucx-cuda branch I have difficulty getting some of the dask-oriented ucx-py tests to run.

[code]

I think that @rjzamora also ran into this.

[2019-05-02 21:19] mrocklin commented on #99
That's surprising.  I'm trying to replicate now but I've stumbled into #101 and am a bit stuck

Can you try something like the following within the `async with Client` block?

[code]

This should make and sum a bunch of random data, ideally using a few of the GPUs.

[2019-05-02 21:24] Akshay-Venkatesh commented on #99
That still doesn't help, Matt.

[code]

This is the code change I made:
[code]

[2019-05-02 21:30] Akshay-Venkatesh commented on #100
My guess is that this problem appears because there's a send/recv outstanding that wasn't satisfied. Is it possible that dask posted a recv for a possible message in the future but the job finished?

[2019-05-02 21:31] Akshay-Venkatesh commented on #100
If I'm not wrong, there are at the very least heartbeat messages exchanged which can theoretically go unsatisfied at some point.

[2019-05-02 21:34] mrocklin commented on #100
This test fails

[code]

[code]

More generally, can you verify that tests pass for you?

[2019-05-02 21:34] Akshay-Venkatesh commented on #101
Matt - this may be related to the errors you saw with being unable to find the path for `cuda.h` on the machine until you explicitly specified it in `C_INCLUDE. You may need to explicitly add paths in `LD_LIBRARY_PATH`.

[2019-05-02 21:36] mrocklin commented on #100
Ah, whoops, that last comment is in the wrong issue. Moving.

[2019-05-02 21:37] mrocklin commented on #101
I wrote this on another issue erroneously and meant to add it here.

This test fails

[code]

[code]

More generally, can you verify that tests pass for you?

[2019-05-02 21:39] mrocklin commented on #101
I've been using [these docs](https://docs.google.com/document/d/1d7D5QNy4jFA7UYHjzxCrb1DrKUZ8g67UuVQF7cvi9rc/edit#) to setup.  If you're at all interested in trying this same process and providing feedback on how it could be improved that would be very welcome.  A few of us use this process, so if we can improve that doc I think that it would smooth things over considerably.

Also cc @rjzamora who

[2019-05-02 21:43] mrocklin commented on #100
Yes, this is possible.  Dask has an open recv on the server side.  It recvs and then waits until something sends into it.  Ideally the sending side sends a close signal, but I wouldn't be surprised if it didn't.  Would it be possible to fail more gracefully here?  I can look for cases where comms may not clean up well in the meantime.

[2019-05-02 21:52] Akshay-Venkatesh commented on #101
Hmm. I stand corrected. I'm seeing the issue with `ref/ucx-cuda` (even after rebasing with master).

[code]
I'll update back when I've resolved this issue. I'm not sure why we see this problem yet.

[2019-05-02 22:01] rjzamora commented on #101
BTW, pointing the `LD_LIBRARY_PATH` at `/usr/local/cuda-9.2/lib64` did not fix the problem for me.

[2019-05-02 23:11] Akshay-Venkatesh commented on #101
@mrocklin @rjzamora
Had some issues with rebase on `ref/ucx-cuda`. Can you please change to this branch https://github.com/Akshay-Venkatesh/ucx/tree/1ad5b17/ucx-cuda and retry? I'm able to run the tests without the symbol issue and have different patches on top of current ucx master.

Sorry about the hassle.

[2019-05-03 00:00] Akshay-Venkatesh commented on #99
@mrocklin I've modified the recv-into-client.py benchmark to check perf difference with and without using NVLINK on top of https://github.com/Akshay-Venkatesh/ucx/tree/1ad5b17/ucx-cuda
We see a significant difference
[code]

and this performance improves with message size with `cuda_ipc`:

[code]

I do notice error with closing resources with my benchmark changes:

[code]
I'll look into this error

[2019-05-03 14:11] rjzamora commented on #101
@mrocklin @Akshay-Venkatesh  `1ad5b17/ucx-cuda` fixes this error for me. Thanks!

[2019-05-03 14:13] rjzamora commented on #99
@Akshay-Venkatesh Can you share the change you made to `recv-into-client.py`?

[2019-05-03 14:19] rjzamora commented on #99
Thanks @Akshay-Venkatesh!   I also see a big difference on `dgx15`: `531.39 MB / s` -> `15.85 GB / s`

I also get errors when closing resources:
[code]

[2019-05-03 16:22] Akshay-Venkatesh commented on #99
@rjzamora This may be a benchmark issue like we've previously seen. Adding a delay (to allow client to finish) at the server side prevents the error from occurring.

[code]

[2019-05-03 16:25] mrocklin commented on #99
Do you think that something like that will be necessary long term, or is that just a short term workaround?

[2019-05-03 16:28] Akshay-Venkatesh commented on #99
It's a workaround, Matt. Seems like there have been other instances where `ep.close()` has undesirable effects. A `barrier` is common at the end of most HPC workloads. Would you happen to know of an equivalent that could be useful for these tests?

[2019-05-03 16:52] Akshay-Venkatesh commented on #101
Good to know. Will close for now.

[2019-05-03 16:52] #101 closed

[2019-05-03 19:43] mrocklin commented on #101
I'm still having trouble building this

[code]

I also found that I needed to install a newer doxygen to get past other errors.

[2019-05-03 19:49] mrocklin commented on #101
Sorry, that was probably a bad file.  Starting from a clean environment

[code]

[2019-05-03 19:59] mrocklin commented on #101
@rjzamora pointed me to `conda install pkgconfig` which seems to solve the problem.  I've also updated the [setup doc](https://docs.google.com/document/d/1d7D5QNy4jFA7UYHjzxCrb1DrKUZ8g67UuVQF7cvi9rc/edit?usp=sharing) I've been working from

[2019-05-03 21:38] mrocklin opened #102 "UCX Error cuCtxGetDevice(&cu_device) is failed"
### Environment

- `quasiben/distributed@tom-ucx`
- `mrocklin/dask-cuda@protocol`
- `Akshay-Venkatesh/ucx-py@devel`
- `Akshay-Venkatesh/ucx@1ad5b17/ucx-cuda`

[code]

### Script

[code]

### Traceback

<details>

[code]

[2019-05-03 21:39] mrocklin commented on #102
@Akshay-Venkatesh anything you can do to help point me in the right direction here would be welcome

[2019-05-03 21:44] mrocklin commented on #100
Just to be clear, is it feasible for UCX to fail more gracefully here?  It's possible that I can avoid this in some cases but in principle there are going to be missed communications.  It would be good if we could avoid halting the process.

[2019-05-03 22:03] mrocklin commented on #100
For information here, we seem to fail on this line:

            ucp.destroy_ep(self._ep)

https://github.com/dask/distributed/pull/2591/files#diff-ca5c24c584111a291f763107e4065539R207

I would be very happy to tell the endpoint "no one is coming for you, it's ok to give up" if that was an option.

[2019-05-05 15:34] mrocklin opened #103 "Simpler GPU Dask Comm benchmark"
This uses only Dask comm's machinery rather than the rest of Dask.  Hopefully it's simpler to use.

[code]

### Run with

(along with any other environment variables necessary)

[code]

[2019-05-05 15:36] mrocklin commented on #103
I get around 1-3 GB/s, depending on how long I run this for.  (I suspect that the first communication may take a bit longer?)

I also occasionally get a failure like the following:

[code]

[2019-05-05 17:43] mrocklin commented on #103
OK, I'm able to get 8GB/s one way using Dask with the following setup

[code]

[code]

However, if I change away from devices 0 and 1 performance degrades quickly.  Sending 200MB takes anywhere from 20ms to 1s depending on the source and destination device.  I understand that there is some structure to the network of a DGX, but the magnitude of difference here makes me think that there is somethin

[2019-05-05 17:45] mrocklin commented on #103
I can replicate this without Dask using the recv-into-client benchmark

[code]

[2019-05-05 17:51] mrocklin commented on #103
Do we know if this is this likely to be a hardware issue or a software issue?

[2019-05-05 22:37] mrocklin commented on #103
Hrm, the assymetric performance that prefers devices 0 and 1 is possibly consistent with this image: https://docs.nvidia.com/dgx/bp-dgx/index.html#networking

![](https://docs.nvidia.com/dgx/bp-dgx/graphics/networks.png)

Perhaps with our addressing we're somehow forcing everyone to go through `ib0`?

[2019-05-06 14:37] rjzamora commented on #103
@mrocklin Thanks for sharing that figure - I noticed that the performance of the `recv-into-client.py` benchmark is dramatically improved for the second case (with `CUDA_VISIBLE_DEVICES=7` ) if you include both `UCX_NET_DEVICES` in the client-side command: `UCX_NET_DEVICES=mlx5_0:1,mlx5_3:1`

[2019-05-06 14:39] mrocklin commented on #103
Ah, that's interesting.  There are a variety of environment variables that we're depending on.  It sounds like we're at the point where we might need to know what they mean :)

[2019-05-06 14:54] mrocklin commented on #103
I should note that I'm running this benchmark in a somewhat custom setup.

I'm running from with @TomAugspurger 's repository https://github.com/TomAugspurger/dask-perf

I'm also using a version of @quasiben's branch https://github.com/dask/distributed/pull/2591 but with a few recently merged PRs (make sure to pull or reset as of 20 seconds ago)

[2019-05-06 17:47] mrocklin commented on #100
I've cleaned things up a bit in Dask.  Those changes are now both in dask/master and quasiben/tom-ucx.  Things usually work ok if workers are never killed.  However, if a worker is killed unexpectedly (which we should expect) then anyone that was waiting on a connection from that worker can also die unhappily.  If we care about resilience then this would be a good thing to track long term.

So fro

[2019-05-06 17:54] mrocklin commented on #97
This also occurs when workers start up before the scheduler.  They try to connect, fail, and terminate.  Ideally they would continue to try until some timeout was reached.

Often this occurs when people set up the whole system on a cluster.  It's hard to predict which components will come up first.

[2019-05-06 19:25] rjzamora commented on #103
Just in case it is useful to anyone else... The `UCX_NET_DEVICES` variable does have a significant effect on the `ucx-client.py` benchmark:

Starting Scheduler on `ib1`:

[code]

Starting Worker on `ib1`:

[code]

Running `ucx-client.py` on `ib1`:

[code]

Running `ucx-client.py` on `ib2`:

[code]

Running `ucx-client.py` on `ib3`:

[code]

When I don't include `UCX_NET_DEVICES` in the command, I

[2019-05-06 20:20] mrocklin commented on #103
How should we deploy workers on a DGX?  We will have eight dask-worker
processes, each attached to a particular GPU.  What environment variables
should each have?  How should they be started?  (in particular, should they
bind to a different network interface)

On Mon, May 6, 2019 at 2:25 PM (Rick) Richard J Zamora <
notifications@github.com> wrote:

[2019-05-06 23:27] rjzamora commented on #103
Sorry @mrocklin - I haven't tested with multiple workers yet.  Unfortunately, the approach I used to get consistently good performance might not make sense at scale... Just for reference, I found that this procedure usually results in ~7GB/s for the `ucx-client.py` test:

- **Scheduler**: Set `UCX_NET_DEVICES` to the *nearest* HSA when starting the scheduler (e.g. `mlx5_1:1` on `ib1`)
- **Worker**

[2019-05-06 23:29] mrocklin commented on #103
In practice every worker will have to talk to every other worker.  Does
this change things?

On Mon, May 6, 2019 at 6:27 PM (Rick) Richard J Zamora <
notifications@github.com> wrote:

[2019-05-07 00:00] rjzamora commented on #103
I suspect that the behavior will just become the same as `UCX_NET_DEVICES=all` (which is default, and slow for some reason).

[2019-05-07 00:03] mrocklin commented on #103
This is probably something to ask @Akshay-Venkatesh tomorrow

[2019-05-07 13:28] pentschev commented on #87
I was going to take a look at this now, but it seems not to be an issue anymore. I tried running `test_cupy`, as well as the sample from https://github.com/Akshay-Venkatesh/ucx-py/issues/87#issue-436374794, and both pass. Using the latest ucx-py devel branch. The only change I had to do in the sample above was to replace `ucp.buffer_region()` to `ucp.BufferRegion()`.

@mrocklin could you confirm i

[2019-05-07 13:33] mrocklin commented on #87
Right.  I haven't run into this lately.

On Tue, May 7, 2019 at 8:28 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-05-07 15:37] Akshay-Venkatesh commented on #100
@mrocklin It seems like the approach we may want for resilience is track outstanding communication requests and [cancel](https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h#L2867) outstanding requests if they're not satisfied by the time the a) endpoint is closed or b) ucp context is destroyed. We'll need some tracking logic to associate requests with endpoints for case a.

[2019-05-07 15:38] Akshay-Venkatesh commented on #100
I'll work on a PR for this if the above approach suffices. Lmk if otherwise.

[2019-05-07 15:39] Akshay-Venkatesh commented on #97
@mrocklin Having a retry mechanism makes sense and should be feasible. I'll open a PR to handle this.

[2019-05-07 16:30] Akshay-Venkatesh commented on #103
@mrocklin @rjzamora

This comment https://github.com/Akshay-Venkatesh/ucx-py/issues/103#issuecomment-489469676 captures the crux of the issue. Infiniband (IB) devices that are closest to the GPUs should be used for communication else there are known bandwidth bottlenecks (as you're seeing). `UCX_NET_DEVICES` controls which devices are used and in ucx-1.5 or [this](https://github.com/Akshay-Venkate

[2019-05-07 16:41] mrocklin commented on #103
This is accessible with the `ucp.get_address()` function?

[2019-05-07 16:59] Akshay-Venkatesh commented on #103
This isn't accessible with `ucp.get_address()`. The GPU context may be created at a much a later point in the program after all. Also, it only makes sense to get this information once the GPU is selected. Before which point, all IB devices are more or less treated the same way. Even then UCP doesn't expose a way to get device information because it tries to hide such details and leave it to the im

[2019-05-07 17:03] mrocklin commented on #103
I guess my question is "How should I set things up, on, for example, a DGX".  I'm curious about what environment variables I should everywhere, what network interfaces processes should listen, and so on.

Recall that Dask's situation is that it will have a separate process attached to each GPU.  That process will open up a listener on some network interface.  Each process will want to talk to ever

[2019-05-07 17:56] Akshay-Venkatesh commented on #102
@mrocklin It's a little bit hard to pinpoint which is the first error from the log. I tried running the test myself but I'm failing at a much earlier point.

[code]

Am I using an old version of tornado?
[code]

[2019-05-07 18:39] mrocklin commented on #102
Here is a friendlier script version

[code]

[2019-05-07 19:15] Akshay-Venkatesh commented on #102
Seeing an error with this trace with a smaller array:
[code]
I may need to work on cancelling outstanding requests to get around this issue after all.

[2019-05-07 19:18] mrocklin commented on #102
You may want to update the distributed repository to quasiben/tom-ucx again

I added a few changes to clean up Dask's cleanup of communications.  Under clean operations I don't get errors from outstanding recvs any most.  Although the error messages that I was getting are different from what you're showing here (see #100 )

[2019-05-07 19:34] Akshay-Venkatesh commented on #102
Thanks, Matt. That helped. I'm seeing issues with `cuda_ipc` transport being used. This may have something to do with spawning:
[code]
I'll post more updates here.

[2019-05-07 19:39] pentschev commented on #87
Do you think it can be closed then?

[2019-05-07 20:03] mrocklin commented on #87
Sure.

[2019-05-07 20:03] #87 closed

[2019-05-09 22:35] mrocklin commented on #102
@rjzamora reading over this issue again, you may want to add the following config file to see if it has an effect

[code]

This would go somewhere like `~/.config/dask/myfile.yaml`.  The filename doesn't matter, as long as it is in that directory.

[2019-05-09 23:37] mrocklin commented on #102
This seems to help with this issue:

    UCX_TLS=rc,sm,tcp,cuda_copy

[2019-05-10 15:36] Akshay-Venkatesh commented on #102
@mrocklin is there a way to get a trace of all the messages exchanged between dask scheduler<->worker, worker<->worker, etc? I'm trying to find out at this point which entities are waiting for sends to complete, which are waiting for receives to complete. Is there a way to do this by tweaking the config?

[2019-05-10 16:03] mrocklin commented on #102
Unfortunately we don't capture this information today.  There isn't an easy solution here.

With some effort we could instrument things though.  If this would help I can spend some time here.  It would be helpful to know more about what you're looking for so I can be more tactical in adding hooks.

[2019-05-10 16:05] Akshay-Venkatesh commented on #102
Just wondering if there was such a facility. I'm adding a logger in ucxpy now which will suffice.

[2019-05-14 22:09] Akshay-Venkatesh commented on #102
With the new changes that I've added to `1ad5b17/ucx-cuda` branch, the test finishes but there are some possibly non-ucx issues that seem to crop up. Details here:

https://gist.github.com/Akshay-Venkatesh/95cb4ba2c9d4684200557563869fd701

[2019-05-14 23:00] mrocklin commented on #102
It looks like UCX is trying to send some message after we've shut things
down.  This is more likely a Dask problem than a UCX problem.

On Tue, May 14, 2019 at 5:09 PM Akshay-Venkatesh <notifications@github.com>
wrote:

[2019-05-14 23:04] Akshay-Venkatesh commented on #102
I also think that UCX is causing issues at times during startup. This may be down to what you had identified earlier with us not retrying if a connection fails because listener isn't up. I'm looking at handling that now.

[2019-05-17 18:19] Akshay-Venkatesh commented on #102
@mrocklin I'm unable to run the `(x + x.T).sum().compute()` workload without using dask-cuda/local-cluster. Details are here -
https://gist.github.com/Akshay-Venkatesh/ff90a9993b09d7b283e9b7b09e217fed
Can you lemme know your thoughts on this?

[2019-05-17 18:31] Akshay-Venkatesh commented on #102
Something I wanted to pick at was this usage:
[code]

Seems like there are two processes using GPU 0. One of them is the scheduler and one of them the worker.

[code]

This points at the fact that the scheduler and worker are sharing GPU0. Is this expected? If yes, this is typically known to cause performance issues without MPS (https://docs.nvidia.com/deploy/mps/index.html).

[2019-05-17 19:06] Akshay-Venkatesh opened #106 "Performance gaps in using GPUs for dask `(X + X.T).sum`"
Running with 4 workers and CPUs

[code]

Using 4 GPUs:
[code]

1. I want to start by finding out what was the compute time and what was the communication time for the job. Does dask permit getting such metrics?

2. @mrocklin pointed to [this](https://stackoverflow.com/questions/56192119/how-can-i-track-the-bandwidth-of-transfers-within-a-dask-cluster/56192120#56192120) but a more details would be

[2019-05-17 19:22] Akshay-Venkatesh commented on #106
Another data point with 8-workers:
[code]

[code]

[2019-05-20 16:44] mrocklin opened #107 "Passing in tuple for lf argument?"
I'm getting these errors (sorry for the lack of a proper traceback)

[code]

Context

[code]

Any chance that the passed in `lf` value isn't what we think it is?

[2019-05-20 17:03] Akshay-Venkatesh commented on #107
@mrocklin Can you share the preceding call to [`start_listener`](https://github.com/Akshay-Venkatesh/ucx-py/blob/devel/ucp/_libs/ucp_py.pyx#L608) which leads up to this? I suppose I should have an `assert` to make sure `lf` is `ListenerFuture` object.

[2019-05-20 17:10] mrocklin commented on #107
It's here: https://github.com/dask/distributed/pull/2591/files#diff-ca5c24c584111a291f763107e4065539R286

(and yes, we are)

[2019-05-20 17:18] mrocklin commented on #106
@Akshay-Venkatesh I suspect that short-term the following script may be helpful:

[code]

In gets the incoming transfer logs from each of the workers, and then computes the 25, 50, and 75th percentile of each of the transfers that were great than a megabyte across every pair of workers.  This should give a decent summary of bandwidths that we're seeing, while also giving enough visibility into asy

[2019-05-20 17:20] Akshay-Venkatesh commented on #107
Should I assume that this issue occurs after the new retry logic has been added to `get_endpoint`? Want to isolate the commit that causes this. Would it be possible to check with this commit https://github.com/Akshay-Venkatesh/ucx-py/commit/21917c163c8a585126963cdd2985f40d3847f050?

[2019-05-20 17:26] mrocklin commented on #107
When I try with that commit I can get the following error:

Exception ignored in: 'ucp_py.accept_callback'
AttributeError: 'Future' object has no attribute 'is_coroutine'

Note that I've also removed the `await` in front of my creation of my
endpoint.

On Mon, May 20, 2019 at 12:20 PM Akshay-Venkatesh <notifications@github.com>
wrote:

[2019-05-20 17:30] Akshay-Venkatesh commented on #107
Is this a new benchmark/test that we're trying? I don't recollect running into this specific error in the past.

[2019-05-20 17:31] Akshay-Venkatesh commented on #106
Thanks @mrocklin Will give this a shot today.

[2019-05-20 17:32] mrocklin commented on #107
I'm running the experiment in https://github.com/Akshay-Venkatesh/ucx-py/issues/106#issuecomment-494076119

[2019-05-20 17:49] Akshay-Venkatesh opened #108 "Running dask dataframe workloads with ucxpy (before moving to cudf)"
Wanted some feedback on candidate tests to check functionality/perf of dask-dataframes over ucx. I'm going this route for now after having difficulties building `cudf` outside conda context. I'm currently using the following test (follwing [this](https://examples.dask.org/dataframe.html) example). Can you suggest other datasets and compute routines?
[code]
[code]
cc @mrocklin @rjzamora @nsakharnyk

[2019-05-20 17:54] mrocklin commented on #108
The computation that you're doing there won't stress communication very much.  You might instead try a join operation.

As a first pass you might try [this notebook](https://github.com/mrocklin/dask-gpu-benchmarks/blob/master/join-indexed.ipynb) which was originally designed for cudf, but you can skip using cudf with the following change:

[code]

[2019-05-20 18:07] Akshay-Venkatesh commented on #108
Ran this which takes 55.56s. How good or bad is that? On the bright side, I'm happy to see join workload finally working.
[code]
[code]

[2019-05-20 18:29] Akshay-Venkatesh commented on #106
@mrocklin

Running into a few issues with this program when running outside the context of `dask_cuda`. Made some edits but I see this error ultimately:
[code]
Have I missed something?
[code]
[code]

[2019-05-20 18:37] mrocklin commented on #106
You need to pass `asynchronous=True` to `LocalCluster` and `Client`

[2019-05-20 18:50] Akshay-Venkatesh commented on #106
@mrocklin Thanks. That gets the benchmark running. Really poor bandwidth by the look of it:

https://gist.github.com/Akshay-Venkatesh/95cb4ba2c9d4684200557563869fd701#file-tmp-txt

[2019-05-20 18:52] Akshay-Venkatesh commented on #106
FYI, This is the final program I ended up using:
[code]

[2019-05-20 18:56] Akshay-Venkatesh commented on #106
Surprisingly increasing size of `x` to `20k x 20k`, `40k x 40k`, `80k x 80k` doesn't change the bandwidth at all. It's all still in the 200MB range. Checking now with 4 workers instead of 8.

[2019-05-20 20:08] mrocklin commented on #102
The user's Python session is probably the other one. It doesn't do much work though, typically it just gets the occasional result for the user to plot or save or something similar.  I wouldn't expect it to do much work when the other process on that GPU is active.

[2019-05-20 22:04] mrocklin commented on #107
I tried printing out the type and the object that I received and got very odd results.  Other objects that had nothing to do with Dask communications or UCX were present.

I suspect that the `lf` object that is passed in is being garbage collected before the `accept_callback` function is being run, Python creates some new object that reuses the object ID, and we get this behavior.

[2019-05-20 22:07] mrocklin commented on #107
Yes, if I choose to hold onto this object in an external list (effectively creating a leak) then the problem goes away.

[code]

[2019-05-20 22:07] mrocklin commented on #107
(not that that's an ideal solution, but at least it isolates the problem)

[2019-05-20 22:53] Akshay-Venkatesh commented on #106
Working with 2 workers and varying input size between `20k ** 2` and `30 ** 2`. I have the following logs to track send/recv sizes at ucxpy level:

https://gist.github.com/Akshay-Venkatesh/95cb4ba2c9d4684200557563869fd701

Better to download as the logs are large.

[2019-05-20 22:58] Akshay-Venkatesh commented on #106
Bottom line for 30k, workers have 17 exchanges of size 107MB:
[code]

[2019-05-20 23:00] mrocklin opened #109 "Yet another Dask + UCX + CuPy benchmark"
### Software environment

-  github.com:mrocklin/ucx-py@avoid-missing-object-id
-  github.com:Akshay-Venkatesh/ucx.git@ucx-cuda
-  github.com:mrocklin/dask-cuda@dgx-1 (pushed a minute ago)
-  github.com:mrocklin/distributed@dev-2

### Script

[code]

### How to run

[code]

### Results

We're able to get infiniband speeds (~4GB/s) on devices 6/7, but are way down at 30MB/s when we use the other de

[2019-05-21 13:59] mrocklin commented on #109
I can get high performance with `CUDA_VISIBLE_DEVICES=0,1` *if* I also specify `UCX_NET_DEVICES=mlx5_0:1`.  However, when I try this with all of my workers I get odd errors.  This is highlighted in the following session

[code]

Given my understanding, this seems fine to me, though I could have something off above.  When I actually start those workers and lets them try to connect up, I get some od

[2019-05-21 14:29] Akshay-Venkatesh commented on #109
@mrocklin The cluster spec looks fine to me. The fact that different ucx processes are seeing different `UCX_NET_DEVICES` is likely causing some issues. I'm giving this a shot now.

[2019-05-21 14:32] mrocklin commented on #109
I'm modifying the definition of DGX above in order to add things like environment variables by the way.  You can do this too.  I'm including the definition of `DGX` here.  You could include it in the script in the first comment and modify it from there if desired

[code]

[2019-05-21 15:11] Akshay-Venkatesh commented on #109
Some more experiments here reveal that even using just host memory for the test leads to poor performance. So we can safely rule out HCA affinity to GPU being the cause for the issue.

[2019-05-21 16:46] mrocklin commented on #109
I was playing a little bit with numpy+dask arrays and found that I had to think a bit about setting CPU affinity restrict allocations to be run by particular CPUs to match the infiniband network card appropriately.  In particular I set the affinity of the workers attached to ib0, ib1 to 0..39 and the affinity of workers attached to ib2, ib3 to 40..79.  My guess/hope was that this wouldn't matter m

[2019-05-21 18:16] Akshay-Venkatesh commented on #109
It shouldn't

Yes. I'm hoping to have performance issues resolved ASAP.

[2019-05-21 18:20] Akshay-Venkatesh commented on #109
On the machine I'm using I see the following affinity details:

[code]

Maybe worth using this to guide that decision.

[2019-05-22 15:36] mrocklin commented on #109
I wasn't aware of that tool.  Neat.

[2019-05-22 15:37] mrocklin commented on #109
Also, checking in.  I assume that you're digging in here, but is there anything I can do on the GPU side?

[2019-05-22 16:20] mrocklin commented on #107
cc @Akshay-Venkatesh

[2019-05-22 16:33] mrocklin commented on #109
In a brief video meeting @Akshay-Venkatesh mentioned that some of the slowdown may be because we are creating threads before creating a cuda context.  To test this, I added the following diff to the `dask/__init__.py` file

[code]

This should do a small amount of computation when we first import Dask before we do anything else.  This definitely precedes any thread creation on Dask's part, includi

[2019-05-22 16:45] mrocklin commented on #109
@Akshay-Venkatesh reminded me that I also need to include cuda_ipc in this environment variable:

    UCX_TLS=rc,cuda_copy,cuda_ipc

I still didn't see any improvement.  However, I've also noticed that I've never had much success with NVLink.  Even when @rjzamora was able to get NVLink speeds on a pure ucx-py benchmark I wasn't able to.  I wonder if there is possibly something off with my environm

[2019-05-22 16:52] Akshay-Venkatesh commented on #107
Decided to create a PR : https://github.com/Akshay-Venkatesh/ucx-py/pull/110

[2019-05-22 16:56] Akshay-Venkatesh commented on #109
@mrocklin Which branch of dask should I be on? I see these on my git log at the moment:

[code]

[2019-05-22 16:58] mrocklin commented on #109
github.com:dask/dask@master should be fine

[2019-05-22 17:00] mrocklin commented on #109
This is also my .bashrc, for completeness.  The `NUMPY_EXPERIMENTAL_ARRAY_FUNCTION` might be important for cupy work, but I suspect that you already have that if you've been running things.

[code]

[2019-05-22 17:03] Akshay-Venkatesh commented on #109
If you're using `cuda_ipc` correctly, you should see the following errors without your dask changes.

[code]

[2019-05-22 17:04] mrocklin commented on #109
Confirmed

[code]

[2019-05-22 17:12] Akshay-Venkatesh commented on #109
@mrocklin Actually that change to dask works for me!

[code]

[2019-05-22 17:19] Akshay-Venkatesh commented on #109
This is the diff I used:
[code]
Also, getting much better performance now:

[code]

[2019-05-23 14:09] mrocklin commented on #109
@Akshay-Venkatesh and I were able to get things running quickly with his scripts on my environment.  Notes here: https://gist.github.com/mrocklin/13490ea4869c571bc742e7b595b5e4a8

However, my python approach of setting things up was still failing.  I've brought the two approaches together to learn that simply using separate processes and Dask's CLI seems to work while using the Python API doesn't

[2019-05-23 14:16] mrocklin commented on #109
(I pressed the comment button prematurely.  I've edited the comment above to full length)

[2019-05-23 14:42] mrocklin commented on #109
OK, watching `nvidia-smi` I see that when I use the Python approach above I only use Device 0 on all processes.  If I remove the `import cupy; cupy.arange(10).sum()` code at the original import of Dask then everything moves more quickly.  However, as expected, I get these errors

[code]

So for some reason calling cupy code at the very beginning seems to not respect CUDA_VISIBLE_DEVICES.  I'll try

[2019-05-23 16:32] mrocklin commented on #109
This seems to solve the problem generally: https://github.com/rapidsai/dask-cuda/pull/46/commits/7f2c2c298bd2a89eaadf6b61263d1a3516713777

(I also switched from cupy to numba, which isn't relevant.  Numba is just a bit lighter weight to install)

[2019-05-23 17:08] Akshay-Venkatesh commented on #109
@mrocklin When python starts new processes with `fork()` then device context is likely shared between parent and child processes. My guess is that cupy doesn't do explicit [cudaSetDevice](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#group__CUDART__DEVICE_1g159587909ffa0791bbe4b40187a4c6bb). This means that there isn't a switch from the current device context (being on d

[2019-05-23 17:11] Akshay-Venkatesh commented on #109
I'm guessing you've verified that different GPUs are being used with this change.

I believe calling `import cupy` in the child processes (dask workers) is having an effect of switching context. Would you happen to know what is the expectation of calling `import cupy` once in parent and once in child if there are pre-existing `cupy` objects that the parent has created before spawning new childrent

[2019-05-23 17:24] mrocklin commented on #109
Yes.

To be clear.  I think that this problem has been resolved in this commit:  https://github.com/rapidsai/dask-cuda/commit/7f2c2c298bd2a89eaadf6b61263d1a3516713777

I think we're good.

[2019-05-23 17:28] mrocklin commented on #109
I've also recently added an `interface=` keyword to DGX, so you should be able to call `DGX(..., interface='bond')` and things might work out for you.

[2019-05-23 17:30] Akshay-Venkatesh commented on #109
Thanks, Matt.

[2019-05-23 17:36] mrocklin commented on #109
Also, I've moved back to github.com:quasiben/distributed@tom-ucx

[2019-05-23 18:45] Akshay-Venkatesh commented on #109
@mrocklin Just FYI - I see much better performance after applying the GPU-HCA affinity patch on UCX (which allows use of the closest HCA to GPU for transfers without explicitly setting them through env vars). The changes are on `ucx-cuda` with this commit `c5f8492`.

[code]

In fact, one added benefit from not using cuda-ipc is that there is a smaller memory footprint. For this reason, we can scal

[2019-05-24 17:01] Akshay-Venkatesh commented on #107
Closing for now

[2019-05-24 17:01] #107 closed

[2019-05-24 17:02] Akshay-Venkatesh commented on #102
@mrocklin Since we've narrowed down on not having a device context initialization before thread creation being the cause for this, shall we close this issue?

[2019-05-24 19:15] mrocklin commented on #102
Sure

On Fri, May 24, 2019 at 12:02 PM Akshay-Venkatesh <notifications@github.com>
wrote:

[2019-05-24 19:51] #102 closed

[2019-05-28 13:14] mrocklin commented on #76
Checking in on this.  What is our status on TCP support?

[2019-05-28 13:14] #91 closed

[2019-05-28 13:15] mrocklin commented on #97
Was this resolved?  If so, can we close?

[2019-05-28 13:16] mrocklin commented on #65
@jakirkham can you give an update here about the current challenges to packaging UCX and UCX-Py along with any suggestions you may have about what we can do to make progress?

[2019-05-28 13:17] mrocklin commented on #76
Also cc'ing @randerzander , who may want to track conversation heere

[2019-05-28 13:50] mrocklin commented on #109
Glad to hear it @Akshay-Venkatesh .  However, after I update to that commit I start having installation difficulties around not being able to find cuda.h

[code]

<details>

[code]

</details>

Any suggestions?

[2019-05-28 16:46] mrocklin opened #111 "Get port/ip from Endpoint"
My guess is that an Endpoint object has information about the local and remote IP address and port, but that these are hidden within the C layer.  Are there functions that we can call to get this information at the Python layer?

I'm thinking of something like the following:

[code]

cc @Akshay-Venkatesh @TomAugspurger

[2019-05-28 17:15] mrocklin commented on #100
Update here on my end is that Dask is better about cleaning things up so this should be an issue less frequently.  Has anything changed on the UCX side @Akshay-Venkatesh ?  If so, can we close?

[2019-05-28 18:57] jakirkham commented on #65
It's been a little bit since I've touched these recipes as other tasks have bumped them. That said, my recollection is we started to make CDTs using [`conda skeleton rpm`]( https://docs.conda.io/projects/conda-build/en/latest/resources/commands/conda-skeleton.html#conda-skeleton ). This seems to work ok if the package isn't too complicated, but can run into issues if things go slightly off the bea

[2019-05-28 20:26] mrocklin commented on #65
@seibert is this something that conda devs would have interest in?  This
would help a number of HPC users use InfiniBand in Python (a common request
when talking to IT departments in science or ML groups) and would also help
out with conda deployment of RAPIDS.

On Tue, May 28, 2019 at 1:57 PM jakirkham <notifications@github.com> wrote:

[2019-05-28 20:28] TomAugspurger commented on #111
I vaguely recall trying to expose this at the Python layer, but got stuck. I don't remember the details, but it was probably something trivial for someone who really knows C.

[2019-05-29 14:09] jakirkham commented on #109
What is the result of `env`?

[2019-05-29 14:21] mrocklin commented on #109
[code]

[2019-05-29 14:24] mrocklin commented on #109
cuda.h is in the include directory.  That additional flag seems to help.  Thanks all.  I'll report back if I run into any additional problems.

[2019-05-29 14:53] Akshay-Venkatesh commented on #111
It should be possible to do this in theory but ucx doesn't provide such a facility today because we don't have access to socket handle obtained from a call such as `accept` but only have an `ucp endpoint` handle. We can add it ourselves outside ucx context maybe through `getsockname` and `getpeername`.

I'll add the above functionality soon.

[2019-05-29 15:26] mrocklin commented on #111
It's not a big deal.  I can work around it.  Just a nice-to-have.

[2019-05-29 16:43] mrocklin commented on #109
Yup.  We're good.  And indeed, performance really is quite a bit better

[code]

[code]

[2019-05-29 16:46] mrocklin commented on #109
I'm going to close this out.  I think that the next step here is for me to start merging things in, and to write about the current experimental setup.

[2019-05-29 16:54] #106 closed

[2019-05-29 16:57] #109 closed

[2019-05-29 17:44] Akshay-Venkatesh commented on #108
Closing for now. Added `tests/dask-join.py` to have an example workload

[2019-05-29 17:44] #108 closed

[2019-05-29 17:46] Akshay-Venkatesh commented on #97
Addressed with https://github.com/Akshay-Venkatesh/ucx-py/pull/105

[2019-05-29 17:46] #97 closed

[2019-05-29 18:05] Akshay-Venkatesh commented on #69
Fixed with 2b0594c

[2019-05-29 18:09] Akshay-Venkatesh commented on #66
Long resolved.

[2019-05-29 18:09] #66 closed

[2019-05-29 18:23] mrocklin commented on #66
I may be raising this again.  I'm not seeing great performance with
recv_obj.  I'll start a new issue though with hopefully a simple example.

On Wed, May 29, 2019 at 1:09 PM Akshay-Venkatesh <notifications@github.com>
wrote:

[2019-05-29 18:55] Akshay-Venkatesh commented on #66
@mrocklin This issue was concerning `recv_into`. With `recv_obj` the allocation in the critical path is the primary cause for lower performance.

[2019-05-30 19:36] Akshay-Venkatesh commented on #67
closing this because I don't see this error with up to 4GB size

[2019-05-30 19:36] #67 closed

[2019-05-30 19:37] #58 closed

[2019-05-31 23:46] mrocklin opened #113 "Move this repository to an organization"
Presumably this would be either openucx or rapidsai.  The intention here would be that it would be come easier to attract development from other institutions that would want to partner.

cc @datametrician @Akshay-Venkatesh @TomAugspurger

[2019-06-03 15:55] jakirkham commented on #113
My understanding is this was going to be upstreamed into [ucx]( https://github.com/openucx/ucx ) proper. Is that not correct?

[2019-06-03 16:09] rjzamora commented on #113
I think the ideal location would be openucx (rather than rapidsai).  Getting the python bindings into ucx itself would be nice too, but a distinct repo has its advantages.

[2019-06-03 16:11] mrocklin commented on #113
I think that everyone is on board with moving things to openucx.  However *if* that's going to take a while then moving it to rapidsai might be a good intermediate step.

[2019-06-03 17:30] jakirkham commented on #113
To clarify, I'm basing my understanding of migrating this code to the ucx repo off of the conversation @quasiben, @Akshay-Venkatesh, and I had with the OpenUCX group a couple of weeks ago. Though if others understood this differently, please chime in.

Which part are we concerned about taking a while? Migrating stuff into a fork of the ucx repo? Or getting it upstreamed into the ucx repo?

What qu

[2019-06-03 17:50] mrocklin commented on #113
If we can move this fork to the openucx org in a week or two then I think
that we should do that.  Otherwise I would be inclined to move it to
rapidsai.

I don't personally have a strict timeline here though, nor am I in charge
of this.

On Mon, Jun 3, 2019 at 10:30 AM jakirkham <notifications@github.com> wrote:

[2019-06-03 18:09] mrocklin commented on #65
@jakirkham can you recommend a path forward here?  Are people other than you able to do this work?  How long would it take you?  Is it possible to interleave this with other work that you're doing?

[2019-06-03 19:39] jakirkham commented on #113
Apologies if I'm repeating myself below. What I understand the UCX devs wanting and what you are requesting here seem to be two different things. So I've tried to clearly layout below what they have requested and what that would entail.

The UCX devs recommended moving the Python bindings [here]( https://github.com/openucx/ucx/tree/master/bindings ). They were also ok hosting and maintaining the C

[2019-06-03 19:47] jakirkham commented on #65
I think these are already answered in [the comment above]( https://github.com/Akshay-Venkatesh/ucx-py/issues/65#issuecomment-496645009 ). Though please feel free to ask more questions if something remains unclear.

No objections to other people doing the work. Again hopefully the comment above answers how this would be handled.

I'm not sure as I haven't looked at this in a while. I could probably

[2019-06-03 21:20] mrocklin commented on #65
Do we know anyone who you think is capable of doing this?

It would be useful to have this in a week or two if that's easy to do.  You're also doing other things that are valuable though.  It sounds like we need a bit more information here in order to make decisions about prioritization.  If you can spend a small amount of time to determine how expensive this is, that would be helpful.

[2019-06-03 21:41] Akshay-Venkatesh commented on #113
that we should do that.  Otherwise I would be inclined to move it to
rapidsai.

Moving to openucx under `bindings` is not going to be a two weeks effort if we're talking about PR acceptance. Likely a month. If it is forking and porting changes then it can be done.

This is my understanding as well

I don't follow what it means for a fork to live under RAPIDS. Can say `https://github.com/rapidsai/u

[2019-06-03 21:43] quasiben commented on #65
I might be able to resume work on conda packaging ucx this week.  But it would be good if others were interested as well

[2019-06-03 22:04] jakirkham commented on #113
Thanks for sharing your thoughts, @Akshay-Venkatesh.

To clarify what I meant by fork, was meaning a fork of `ucx` where we do this work. This would probably not be too different to how RAPIDS handled xgboost for example.

Will we want to make changes to their build system as well (e.g. adding flags for the Python build in `configure.ac` or build steps in `Makefile.am`)?

[2019-06-03 23:00] Akshay-Venkatesh commented on #69
@TomAugspurger cleaned up the points where reader is added and removed in ucp module here:

https://gist.github.com/Akshay-Venkatesh/95cb4ba2c9d4684200557563869fd701#file-fix-send-recv-obj-hang-diff

Will make a pull request soon but these seems to fix the hangs.

[2019-06-04 04:14] datametrician commented on #113
Given our next release is end of this month, moving this repo from your personal github to RAPIDS is useful if we want to point people to it to show what we're doing (and for them to jump in if they are inclined).  Similar to what we do with XGBoost, as I believe @jakirkham is suggesting, we can for UCX and modify it in the RAPIDS repo until all changes are upstreamed.

[2019-06-04 04:39] Akshay-Venkatesh commented on #113
@datametrician If we start a skeleton repo under rapidsai, I'm happy to push ucx-py contents there.

[2019-06-04 14:41] mrocklin commented on #113
We can transfer the entire repository if we have an individual that has ownership rights over both this repo and the rapidsai org.

@Akshay-Venkatesh , perhaps you can give someone like @raydouglass ownership rights over this repository and then he can perform the transfer?

[2019-06-04 14:42] mrocklin commented on #113
(this is a bit nicer because then we also keep the history of issues, prs, and so on)

[2019-06-04 15:53] Akshay-Venkatesh commented on #113
@mrocklin It looks like I can transfer the ownership to rapidsai if I have the permission to create a repo there. If that's not ideal, I can try transferring to raydouglass

[2019-06-04 16:05] mrocklin commented on #113
You should be able to go to settings, then add a collaborator and add ray
as a collaborator to this repository with owner permissions.  Then Ray can
probably handle everything.

On Tue, Jun 4, 2019 at 8:53 AM Akshay-Venkatesh <notifications@github.com>
wrote:

[2019-06-04 16:18] Akshay-Venkatesh commented on #113
Requested @raydouglass to accept ownership.

[2019-06-04 18:20] mrocklin commented on #65
@quasiben I suspect that you have your hands full with dask-cudf issues.

[2019-06-04 21:42] raydouglass commented on #113
Sure, I can move this repository. @Akshay-Venkatesh I accepted the invite, please follow these steps to transfer the repo to my personal account: https://help.github.com/en/articles/transferring-a-repository#transferring-a-repository-owned-by-your-personal-account

[2019-06-04 23:06] raydouglass commented on #113
Whoops, my mistake, @Akshay-Venkatesh already did this. The repo is now in rapidsai: https://github.com/rapidsai/ucx-py

[2019-06-04 23:06] #113 closed

[2019-06-05 22:10] #69 closed

[2019-06-06 16:41] cjnolet opened #117 "Provide getters for pointers to underlying ucp objects"
It would be very powerful if ucx-py could enable users to initialize and use endpoints in Python, while also being able to make use of the initialized comms underlying the UCP API.

For instance, once endpoints are initialized, it would be useful to be able to extract pointers to objects necessary for sending and receiving messages (eg `ucp_ep_h`, `ucp_context_h`, `ucp_worker_h`, `ucp_listener_h`)

[2019-06-06 17:21] Akshay-Venkatesh commented on #117
@cjnolet As you may have seen we have an internal structure
[code]
We could add other fields (although listener at endpoint may not make sense at the client site which connects to a listener)
[code]

As long as we can pass down this structure from python -> C++, we should be able to reuse the initialized fields.

Internally, we already pass from C -> python and then back from python -> C. I think

[2019-06-06 18:38] cjnolet commented on #117
@Akshay-Venkatesh, these examples are great. If I understand them correctly, however, the pointers being passed into around have been hard-coded & compiled into the library.

I'll be the first to point out that I'm no expert at cython. I have been under the impression that in order for me to get access to the pointer to that struct on an `Endpoint` instance at runtime, without having to modify ucx

[2019-06-06 20:46] Akshay-Venkatesh commented on #117
In the example I pointed, you're right that void pointers were being passed around.

This is my understanding as well. We should be able to expose functions in ucx-py to return the pointer.

This should be possible. We can expose getter functions to return internal_ep as a <size_t> type. I've been silently assuming that this works and haven't run into issues yet.
Did you happen to run into issues

[2019-06-06 21:38] cjnolet commented on #88
I am seeing this behavior as well. I have tried building UCX both on my local workstation, running `Centos7` and on a DGX, running `Ubuntu 16`. I have built UCX with both CUDA support and without.

I have also tried using the conda `ucx` package from @jakirkham.

I am running the following command:
[code]

I'm getting a bunch of the following lines in my terminal:
[code]

Finally, it segfaults wit

[2019-06-06 21:42] Akshay-Venkatesh commented on #88
At this point without installing `librdmacm-dev` + IB cards I expect getting ucxpy to run is a painful route.

[2019-06-06 21:50] cjnolet commented on #88
Is that only the case because of default arguments within ucx-py? I noticed the `get_address()` function defaults the interface to `ib0`.

[2019-06-06 22:18] Akshay-Venkatesh commented on #88
Actually, the cause for this is tied to UCX C library relying on RDMACM underneath. We have an ongoing [PR](https://github.com/openucx/ucx/pull/3570) to break away from this dependence.

Providing `ib0` as an argument by default is to make cases where IPoIB interface name is different (`bond0` on prom for example)

[2019-06-07 17:20] jakirkham opened #118 "Testing with new RCs"
In the past week, the UCX team has made [v1.5.2-rc1]( https://github.com/openucx/ucx/releases/tag/v1.5.2-rc1 ) and [v1.6.0-rc1]( https://github.com/openucx/ucx/releases/tag/v1.6.0-rc1 ). It would be good to check if things are still working with those RCs and if not report issues upstream.

[2019-06-07 17:23] mrocklin commented on #118
I suspect that it won't work until some of Akshay's work gets merged in.  Currently we're operating from a branch.

[2019-06-07 17:27] jakirkham commented on #117
I wonder if it might make sense to create a wrapper object that allows Python users to pass around the relevant information, but hide the details of pointers and whatever else from Python and only expose this to Cython/C/C++. This is similar to how `memoryview`s behave for instance. If this is a reasonable approach, it might make sense to build a very small [Cython extension type]( https://cython.

[2019-06-07 17:48] mrocklin opened #119 "We create poorly formed memoryview objects"
I occasionally get errors where we seem to be receiving zero-length messages in ucx-py.  I placed a breakpoint when this happened and investigated the object.  It looks like we're forming improper memoryview objects somehow:

[code]

I'll take a look briefly.

[2019-06-07 17:49] mrocklin commented on #119
@TomAugspurger if you have suggestions on where this might be happening those would be welcome.

[2019-06-07 18:03] TomAugspurger commented on #119
Is this GPU or CPU memory? For CPU, the bug is likely in
https://github.com/rapidsai/ucx-py/blob/devel/ucp/_libs/ucp_py_buffer_helper.pyx#L142,
but I'm not sure exactly where.

On Fri, Jun 7, 2019 at 12:49 PM Matthew Rocklin <notifications@github.com>
wrote:

[2019-06-07 18:05] mrocklin commented on #119
Yeah, I'm playing around in there now.  I can get it to fail in both CPU and GPU memory.

[2019-06-07 18:09] mrocklin commented on #119
This seems to be fixed in https://github.com/rapidsai/ucx-py/pull/120

[2019-06-12 04:14] cjnolet commented on #117
Thank you, @jakirkham, I will take a look at that approach.

I recently realized I will also need a pointer to the ucp_worker_h handle as well. While I’m working through examples for the cuml comms, I will try out John’s approach to see if it will work in this case.

[2019-06-14 23:00] jakirkham opened #123 "Adding license file"
Would be good to add a license file. Guessing it should be the same as UCX's license. Though please correct me if not.

[2019-06-14 23:24] jakirkham opened #124 "Fill out metadata in setup function"
We're currently missing some metadata in the [`setup` function]( https://github.com/rapidsai/ucx-py/blob/4030eff63438ac87d58fd009656198a184914041/setup.py#L69-L76 ). Would be good to include version, description, license, url, maintainer, classifiers, zip_safe (should be false), python version required, etc. Here's [an example]( https://github.com/dask/dask/blob/d8ff4c4d155d51cf275776c1ec8ef27c16d

[2019-06-15 00:18] jakirkham opened #125 "C compiler warning about void* dereferencing"
When building ucx-py, the Cythonized C code contains a line (guessing it maps to [this one]( https://github.com/rapidsai/ucx-py/blob/4030eff63438ac87d58fd009656198a184914041/ucp/_libs/ucp_py_buffer_helper.pyx#L156 )), which the compiler warns is dereferencing a `void*`. Have included a brief snippet of the warning below.

[code]

[2019-06-15 00:41] jakirkham opened #126 "Update setup.py's --with-cuda to specify CUDA_HOME"
It would be useful to specify a path to `--with-cuda` (where `nvcc` is installed) when calling `setup.py`. That way the `setup.py` script can add the appropriate includes and library search path to the build.

[2019-06-15 16:50] kkraus14 commented on #117
I would agree with @jakirkham that if we have the ability to use Cython it will be much cleaner and clearer what's happening. If we can't use Cython and need to return to a pure Python context where we can't keep C++ objects in scope, then we haven't seen issues thus far of using Python integers to track pointers and then typecasting in Cython / C++ as needed to use them properly.

[2019-06-17 16:28] jakirkham commented on #101
Just as an update here, what you probably want is `pkg-config` (the Unix build tool). The `pkgconfig` Python library (note absence of `-`) is for Python programs that want to use the Unix build tool from Python. Have submitted PR ( https://github.com/dask/dask-blog/pull/31 ) to update the blog as well.

[2019-06-18 16:15] jakirkham opened #127 "Handling buffer protocol requests"
With [Python's buffer protocol]( https://docs.python.org/3/c-api/buffer.html#buffer-protocol ), downstream consumers are able to make [requests about the buffer]( https://docs.python.org/3/c-api/buffer.html#buffer-request-types ). These include things like requiring it to be writable, requesting metadata, and requiring contiguity. As producers of the buffer, we are obliged to check what is request

[2019-06-18 17:21] jakirkham commented on #127
Just to provide some additional context about what this entails, [here's how NumPy handles one possible request]( https://github.com/numpy/numpy/blob/7ebbc2ed3b4a388dd3942e1d8ef2de18074a09b3/numpy/core/src/multiarray/buffer.c#L747-L752 ). In this case C contiguity is being checked with an error raised if not met.

[2019-06-19 22:02] Akshay-Venkatesh commented on #100
@mrocklin I had been seeing intermittent failures when running `tests/test_send_recv_obj.py` about:
1. mpool requests not released
2. rcache refcount not being 0

This [commit](https://github.com/rapidsai/ucx-py/pull/128/commits/7e390ef5ad7490e2e9cfd914c8f81fdb301dd049) fixes those issues. I had to ensure that I wasn't calling `ucp.fin()` before listener and client had a chance to release resource

[2019-07-15 23:40] cjnolet opened #130 "Build Cython extension type for passing UCP endpoint and worker information through Cython at runtime"
I wonder if it might make sense to create a wrapper object that allows Python users to pass around the relevant information, but hide the details of pointers and whatever else from Python and only expose this to Cython/C/C++. This is similar to how `memoryview`s behave for instance. If this is a reasonable approach, it might make sense to build a very small [Cython extension type]( https://cython.

[2019-07-25 15:53] quasiben opened #131 "Endpoint Timeouts"
I am seeing errors like the following:

[code]

This is when running the benchmark outline in the dask-ucx blogpost:
https://blog.dask.org/2019/06/09/ucx-dgx

`distributed` never calls  ucp.fin() but I don't think this is cause of the issue.  cc @mrocklin if you have any vague ideas

[2019-07-25 18:24] quasiben commented on #131
dupe of https://github.com/rapidsai/ucx-py/issues/100 closing

[2019-07-25 18:24] #131 closed

[2019-07-25 18:25] quasiben commented on #100
I am still running into this issue -- on latest distributed and ucx-py

[2019-07-25 20:10] quasiben commented on #100
I believe i am currently seeing a few lingering tasks and destroying the endpoint causes the process to abort

[2019-08-05 16:26] mrocklin opened #132 "Include experimental conda package instructions in README"
This might help to get more testing on the conda packages.

It would also help me to find out how to do it every time :)

It should probably also have appropriate warnings around it.

@jakirkham

[2019-08-05 18:06] quasiben opened #133 "Error with `recv_future` with large data"
@Akshay-Venkatesh I believe there is an issue with `recv_future` when trying to receive *largish* data.  That would be data > 500MB.  `recv_obj` does not seem to have a problem with this though there does seem to be an upper limit of around 2GBs.  My suspicion around the upper limit is that the buffer size uses a int rather than an unsigned int.

In any case, do you know why `recv_future` may be h

[2019-08-05 18:19] Akshay-Venkatesh commented on #133
@quasiben Basic question - Do you happen to know if the physical memory limits are exceeded when the error occurs?

You're also right about int usage and this may very well be the cause of the error. We should be switching to `ssize_t` for all sends/recvs to handle large count case. I'll have a PR for this soon.

[2019-08-05 18:53] quasiben commented on #133
No, the physical limits were not exceeds.  I am using v100s (32GB) and the data size is just above 500MB.  I watched nvidia-smi to confirm

[2019-08-05 18:54] quasiben commented on #133
@Akshay-Venkatesh thank you for looking into this!

[2019-08-05 19:12] mrocklin opened #134 "What is needed for UCX-py to work on a consumer linux machine"
I (and others I suspect) would like to start using UCX more regularly in my day-to-day development, both to provide acceleration, and to find and report bugs.  To facilitate this, it would be nice to use UCX-py on a consumer laptop running Linux (personally I have a ThinkPad Carbon).  Is this feasible today?  If not, what is needed?

For example, do I still need IB around?  If not, does the conda

[2019-08-06 18:11] Akshay-Venkatesh commented on #133
@quasiben Can you try with this patch lmk if it helps?

https://gist.githubusercontent.com/Akshay-Venkatesh/95cb4ba2c9d4684200557563869fd701/raw/d2cf818e499d193d570f83cfe67f651fc8d6d71f/fix-int-length.diff

Thanks

[2019-08-06 18:58] quasiben commented on #133
Trying now

[2019-08-06 19:06] quasiben commented on #133
On small objects which previously worked I see errors:

[code]

And on larger objects (+500MB) I still see hanging issues

[2019-08-06 19:28] Akshay-Venkatesh commented on #133
@quasiben Can you try again with this?

https://gist.githubusercontent.com/Akshay-Venkatesh/95cb4ba2c9d4684200557563869fd701/raw/da7c41246935303c3c0bcd857fb458a9d4bd28fa/fix-int-length2.diff

I'm using the signed version of `size_t` this time.

[2019-08-06 19:39] quasiben commented on #133
I can't apply that patch cleanly:

[code]

[2019-08-06 19:42] mrocklin commented on #133
Is there a simple test that Ben can write that Akshay can run in order to
eliminate this interaction bottleneck?  Or is the software environment too
complex to easily recreate?

On Tue, Aug 6, 2019 at 12:39 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-08-06 19:51] quasiben commented on #133
I have a test here https://github.com/rapidsai/ucx-py/pull/129/files#r311244650 but the env is a little complex to setup.

I manually applied the patch since it was small.  It did resolve the `can't convert negative` error but I am still seeing hangs with the large cudf dataframe

[2019-08-07 00:04] #132 closed

[2019-08-07 00:05] jakirkham commented on #132
That was fast! 😄

[2019-08-07 09:38] jakirkham commented on #134
The packages we build links to `libibverbs`, `librdmacm`, etc. So those libraries need to be installed, which you could do on another machine that lacks those features (that's how we did the builds initially anyways).

I guess the question is are those dependencies still used (even if the library was built with them) if the machine lacks the hardware. IOW is a runtime check performed to determine

[2019-08-07 11:38] TomAugspurger commented on #134
I think TCP lacked some layer needed for creating a client-server pair.
https://github.com/openucx/ucx/issues/3042.

On Wed, Aug 7, 2019 at 4:38 AM jakirkham <notifications@github.com> wrote:

[2019-08-07 17:16] Akshay-Venkatesh commented on #134
`librdmacm`, `libibverbs` can be linked but it's not a hard requirement. UCX can be configured to build without the above but the necessary emulation is missing -- sockets based connection management.

TCP based connection management is scheduled for v1.7 (august 30 deadline) as per this list: https://github.com/openucx/ucx/milestone/12

This is the PR that aims to fill that gap https://github.com

[2019-08-08 13:37] #133 closed

[2019-08-08 15:56] quasiben opened #140 "ucx-py deadlock"
In dask we have code which looks like the following:

[code]
https://github.com/dask/distributed/blob/4d98bb5d6e8b45270c81e45a5662f1b1d4edee24/distributed/comm/ucx.py#L91-L150

The above is infrastructure for defining a read/write scheme and an endpoint/listener object for ucx.  We can use the objects like so

[code]

@Akshay-Venkatesh pointed out that for larger messages UCX will invoke a [Rendez

[2019-08-08 16:39] Akshay-Venkatesh commented on #140
@quasiben I should point out that the deadlock case shows up for the test because the same process is trying to write and read (or in message-passing terms -- send to self and receive from self).

For these sends and receives, between 0 bytes to 16KB/32KB, eager protocol is used which means that send doesn't wait for the receiver to post a receive. The sender simply copies the source buffer to a b

[2019-08-08 17:08] jakirkham commented on #100
Also saw this error recently when trying to run the "My Benchmark" code in [this blogpost]( https://blog.dask.org/2019/06/09/ucx-dgx ). Though can't claim the latest UCX or UCX-Py versions. However do have the latest Dask and Distributed versions.

[2019-08-08 17:08] jakirkham commented on #100
@quasiben, are you still seeing this or were you able to workaround/solve this issue somehow?

[2019-08-08 17:10] quasiben commented on #100
Still seeing this but I have deeply investigated what is happening

[2019-08-08 17:13] pentschev commented on #100
I think you meant you have _not_?

[2019-08-08 17:20] quasiben commented on #100
yes...

[2019-08-09 17:06] quasiben commented on #140
My apologies to everyone (especially @Akshay-Venkatesh ) I think I sent us down the wrong path.  The custom_ep test I wrote was not representative of what happens inside of dask.  Instead, dask puts read/write in separate coroutines which does not result in any deadlock.

In commit: https://github.com/rapidsai/ucx-py/pull/139/commits/caa569fe4f2806e0c92a890eaf537bd37dbfdd24 , I have updated the te

[2019-08-09 17:25] Akshay-Venkatesh commented on #140
GTK that tests are working @quasiben
Would be good to add stress tests to #139 to see if some combination or ordering of send/recv/await can result in deadlocks.

Feel free to close the issue whenever appropriate

[2019-08-13 15:04] quasiben commented on #140
Thank you all for the comments -- i've added stress tests in https://github.com/rapidsai/ucx-py/pull/139

[2019-08-13 15:04] #140 closed

[2019-08-13 15:07] #119 closed

[2019-08-13 18:14] randerzander opened #141 "Create cudatoolkit=10 compatible packages"
Many dev and test environments have upgraded to CUDA 10.x.

It'll be easier for users and developers to work with and test UCX if it supports CUDA 10.

[2019-08-13 18:29] mrocklin commented on #141
cc @jakirkham

On Tue, Aug 13, 2019 at 2:14 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-08-13 18:37] randerzander opened #142 "[QST] What's the most basic dask_cudf test for a successful ucx setup?"
I have conda installed ucx, ucx-py, and ucx-proc based on this repo's README.

Now I'm trying to setup a Dask cluster to do a basic test confirming GPUs are communicating over nvlink instead of tcp.

I followed [this post](https://blog.dask.org/2019/06/09/ucx-dgx) and started `dask-scheduler --protocol ucx`, but the dask-worker doesn't understand the protocol:
[code]

Is there a newer guide for ho

[2019-08-13 18:50] mrocklin commented on #142
Can you verify that you can import `ucp` ?

Also you may want to try installing ucx-py from a conda package.  See https://github.com/rapidsai/ucx-py#installing-preliminary-conda-packages (thanks @jakirkham !)

[2019-08-13 18:50] quasiben commented on #142
That is the current best way to get up and running.  There are recent PRs which will be merged into cudf/RMM before the 0.9 release.  If possible can we wait until then ?

[2019-08-13 18:54] randerzander commented on #142
[code]
Looks like libnuma-dev is a dependency?

The ucx modules I'm using were installed from conda as described in the README.

[2019-08-13 18:59] randerzander commented on #142
Installing `libnuma-dev` from apt lets me `import ucp` successfully.

Now, on starting the worker I get destination unreachable on 127.0.0.1 and the IP address the scheduler picked up automatically (172.17.0.2):

scheduler:
[code]
(rapids) root@8cec589efc7b:/notebooks# dask-worker ucx://172.17.0.2:8786
distributed.nanny - INFO -         Start Nanny at: 'tcp://172.17.0.2:45781'
distributed.worker -

[2019-08-13 18:59] mrocklin commented on #142
cc @jakirkham

On Tue, Aug 13, 2019 at 2:54 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-08-13 19:04] randerzander commented on #142
[This one](https://github.com/rapidsai/rmm/pull/113)? I assume that wouldn't be impacting the issue I described above.

[2019-08-13 21:00] mrocklin commented on #142
[code]

This is concerning.  It looks like it didn't use the ucx protocol, even though you specified it.  It used `tcp://` instead

[2019-08-13 21:30] mrocklin commented on #142
If we don't yet support TCP (@Akshay-Venkatesh ?) then you'll also need to specify your infiniband network interface, often `ib` or `ib0` or `bond0`

[2019-08-14 01:47] mrocklin commented on #142
(also, you do this with the `--interface` keyword, like `--interface ib0`)

[2019-08-14 01:55] randerzander commented on #142
I should have clarified earlier, I'm attempting to get this working on a single node between multiple GPUs over nvlink.

Does that change how I need to configure something?

[2019-08-14 02:16] mrocklin commented on #142
You should still specify an infiniband interface even on a single node, and
even if you mostly want to use NVLink for data communication.

On Tue, Aug 13, 2019 at 9:55 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-08-14 02:41] randerzander commented on #142
Does that mean an infiniband interface is required for GPU->GPU communication over nvlink?

[2019-08-14 11:56] mrocklin commented on #142
It certainly was before, Akshay would know the status today.

On Tue, Aug 13, 2019 at 10:41 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-08-14 16:51] Akshay-Venkatesh commented on #142
@randerzander You would still need IB interfaces to startup the job -- at least until the end of this week. Once the startup completes, you would end up using just NVLINKs for single nodes where there exists the connectivity to achieve that.

[2019-08-14 16:55] quasiben commented on #70
resolved by #137

[2019-08-14 18:00] #70 closed

[2019-08-14 18:00] jakirkham commented on #70
Guessing this should have been closed. Feel free to reopen if not. 🙂

[2019-08-14 18:34] mrocklin commented on #134
Sorry for the delay here.

What would happen when a new connection request comes in?

[2019-08-14 18:35] quasiben commented on #70
yes, thank you @jakirkham

[2019-08-14 18:38] mrocklin commented on #134
Or rather, let me say that handling many connection concurrently is probably a hard requirement for Dask usage.

[2019-08-14 19:11] Akshay-Venkatesh commented on #134
We would need to have a handler thread that wakes on an `accept` call essentially. In essence, we recreate what ucx is doing behind the scenes. This would satisfy the Dask's need to handle connections concurrently as well.

[2019-08-14 19:12] mrocklin commented on #134
Sure, I have no objection to having a handler thread that creates a coroutine, loads it onto the event loop, and then goes quiet again.  That seems reasonable to me.

[2019-08-14 23:11] jakirkham commented on #141
Yep, this is reasonable and desirable. Probably easier after some things I discovered when working on the CuPy packages.

That said, I want to make sure the existing UCX packages are working correctly before increasing how many we have.

[2019-08-16 00:58] jakirkham opened #146 "List requirements in setup.py"
Would be great to have the requirements [listed in the `setup.py`]( https://github.com/rapidsai/ucx-py/blob/c58b2ac56814264091bda89129381214a8be4eb9/setup.py#L69-L76 ). This would help when doing packaging so we are aware what should be listed as requirements and whether those have changed.

[2019-08-16 08:25] jakirkham opened #148 "Rebuild UCX packages with SOCKCM fixes"
SOCKCM fixes in PR ( https://github.com/openucx/ucx/pull/3570 ) are useful for some cuML workflows. It would be good to rebuild the packages with these changes. @Akshay-Venkatesh, recommended trying commit ( https://github.com/Akshay-Venkatesh/ucx/commit/2d85597e1227fcd52e2ab1f107afcbed6d2f2840 ). Would be good to rebuild the packages with this change.

cc @cjnolet

[2019-08-16 08:25] jakirkham commented on #148
This was just recently done.

[2019-08-16 08:25] #148 closed

[2019-08-16 08:26] jakirkham commented on #141
Have done this in the recent build of the packages. That said, am seeing some issues with these packages that I'm asking @Akshay-Venkatesh about.

[2019-08-16 08:26] #141 closed

[2019-08-16 12:59] jakirkham opened #150 "Hangs with sending/receiving"
Have seen some hangs when trying to send and receive data. In particular when running `pytest tests/test_send_recv_obj.py::test_send_recv_bytes`, it will run the first time and hang the second time.

[2019-08-16 12:59] jakirkham commented on #150
@pentschev, suggested setting the following environment variables.

[code]

This seems to fix the issue for me.

[2019-08-16 13:04] quasiben commented on #150
Let's move these env vars into the tests and print them out during execution.  I think we've cycled through this problem a number of times

[2019-08-16 13:04] jakirkham commented on #150
If these environment variables need to be set generally regardless of setup, we might consider adding an [activation script]( https://conda-forge.org/docs/maintainer/adding_pkgs.html#activate-scripts ) to the `ucx` package that sets these for the user. Though am not clear on whether they are needed generally or just the DGXs we are testing. @Akshay-Venkatesh, do you have thoughts on this?

[2019-08-16 13:07] quasiben commented on #150
@jakirkham there is some subtlety here.  For example, `UCX_TLS=rc,cuda_copy`, i believe, means use infiniband.  if you add `cuda_ipc` that means also use nvlink.  @Akshay-Venkatesh can you comment on what happens with UCX if we use `cuda_ipc` but don't have NVLINK hardware

[2019-08-16 13:14] pentschev commented on #150
I'm not sure I like the idea of occluding the setup of these variables. I think for newcomers it will make things more difficult to debug, e.g., tests pass but a custom user script will hang when they're not set explicitly.

[2019-08-16 13:16] Akshay-Venkatesh commented on #150
cuda_ipc works over pcie for certain configurations so that gets used. In general, cuda_ipc shouldn't be removed from ucx_tls.

Can you share the repro details @jakirkham?

[2019-08-16 13:29] jakirkham commented on #150
Sure. Here you go. Afraid there is not too much more to add than the OP. So this is mainly useful for letting you recreate the environment I have. Environment variables listed above fix the hang (see comment in reproducer for where).

<details>
<summary>Reproducer:</summary>

[code]

</details>

<details>
<summary>Spec file for environment:</summary>

Use with `conda create --name myenv --file spe

[2019-08-16 16:10] quasiben commented on #150
@Akshay-Venkatesh Thanks!

I'll amend tests appropriately

[2019-08-19 16:25] quasiben opened #151 "Multiple Listener test hangs when running in succession"
When running the `test_multiple_listeners.py` in succession the test hangs.  This is a problem when running bulks tests like the following:

A smaller reproducible example would be:

Oddly, `test_multiple_listeners.py` runs without issue executing the test in isolation:

Does this mean `test_init_fin.py` does not finish cleaning up ?

[2019-08-19 16:48] quasiben commented on #151
This is resolved by putting the init() inside the test definition

[2019-08-19 17:50] quasiben commented on #127
closing

Fixed in #144

[2019-08-19 17:50] #127 closed

[2019-08-19 17:51] quasiben commented on #123
@mrocklin @Akshay-Venkatesh do you have an idea what the license should be ?

[2019-08-19 18:51] jakirkham commented on #123
If we are upstreaming this to UCX, we might also want to touch base with them to see what kind of licensing would be acceptable.

[2019-08-19 20:09] MattBBaker commented on #123
The main UCX repo is 3 clause BSD. Using that will be easiest.

[2019-08-19 21:29] mrocklin commented on #123
At the same time most RAPIDS projects use Apache 2.

On Mon, Aug 19, 2019, 1:09 PM MattBBaker <notifications@github.com> wrote:

[2019-08-19 22:11] mrocklin commented on #151
Would it make sense to cleanly initialize and finalize ucp for each test as part of a pytest fixture?

[2019-08-19 22:27] quasiben commented on #151
Yes!  Thank you for the suggestion

[2019-08-19 22:28] quasiben commented on #151
I'll add that to my test cleanup PR: https://github.com/rapidsai/ucx-py/pull/152

[2019-08-20 09:40] madsbk commented on #125
Fixed in #144

[2019-08-20 13:41] madsbk opened #153 "`BufferRegion` perserving dtype and shape information?"
Currently, when creating a `BufferRegion` through the buffer protocol or `__cuda_array_interface__`, we preserve the dtype and shape of the buffer.

Is this a feature we use? Or could we just as well return a 1-dim `byte` buffer always?
I ask, because it could reduce the complexity of `BufferRegion` if we didn't have to preserve `format`, `typestr`, and `descr` (which doesn't use the same symbols)

[2019-08-20 13:58] mrocklin commented on #153
I don't think that we use dtype and shape, although I could be wrong.  cc'ing @TomAugspurger and @Akshay-Venkatesh , who were more involved during this period.

[2019-08-20 13:58] mrocklin commented on #153
Or rather, the Dask/RAPIDS use case doesn't need these attributes.  I don't know about other potential UCX uses though.  It could be that this is important for more MPI-style workloads.

[2019-08-20 14:35] TomAugspurger commented on #153
I do recall being confused by shape, dtype, format, typestr... I think the
more we can do to simplify this, the better.

On Tue, Aug 20, 2019 at 8:58 AM Matthew Rocklin <notifications@github.com>
wrote:

[2019-08-20 14:50] jakirkham commented on #125
Awesome! Thanks Mads 😄

[2019-08-20 14:50] #125 closed

[2019-08-20 17:03] quasiben commented on #153
@mrocklin, you are saying dask/rapids doesn't need these attributes in ucx-py because they are preserved in other ways ?

[2019-08-20 17:46] mrocklin commented on #153
Yes.  We only use the buffer region to send bytes.  We keep track of shape, dtype, and other metadata in the header that Dask sends as a separate message.

[2019-08-21 01:50] Akshay-Venkatesh opened #156 "Attempt to use UCP endpoints after closing in distributed"
I used dask and distributed master branches. Do you see an issue here?

[code]

[2019-08-21 03:19] quasiben commented on #156
Yes and no.  The issue here common to what I see -- but I don't think it is yielding incorrect results.  Still, it is a problem and I think this goes back to how dask does not cleanly stop UCP when shutting down

[2019-08-21 16:56] quasiben commented on #150
resolved in #152

[2019-08-21 16:56] #150 closed

[2019-08-22 15:42] #151 closed

[2019-08-22 15:46] quasiben opened #159 "New Test Ideas"
- [ ] Stress test with many connections many messages
- [ ] Multiple endpoints in a single process
- [ ] Multiple endpoints in multiple processes
- [ ] Multiple process multiple IB process (proc 0 uses ib0 proc 1)
- [x] NVLINK Test (transfer data with nvlink) https://github.com/rapidsai/ucx-py/issues/165
- [ ] Test more coroutine usage when starting the listener

[2019-08-22 18:05] quasiben opened #160 "recv_obj should handle 0 length objects"
currently `recv_obj` only works with bytes>0.  For 0 length dataframes/array we rely on `recv_future` .  This means downstream projects will often write code like:

[code]

recv_obj should be extended to handle 0 length arrays

[2019-08-22 21:47] quasiben opened #163 "Better Error Message For Space Allocation Error"
As I test I loaded 24GB onto a GPU with 32GB max:

[code]

Then I tried to send-recv with ~4GB of data.  This was done by amending `test_send_recv_cudf` to use 2 ** 29 bytes in test 6: `(cudf.DataFrame({"a": range(2 ** 29)})`

The result was a segfault:

[code]

Note: Without any data loaded on a GPU this test passes.

Could ucx capture this segfault and message appropriate that space has run out

[2019-08-22 21:54] quasiben commented on #163
Maybe this line is saying it can't allocated enough memory:

[2019-08-26 14:43] quasiben opened #165 "NVLINK Test"
We should build a test to confirm we are passing data specifically over NVLINK. Not sure how best to achieve this.  A few ideas were to inspect nvlink throughput
-  with the command utility: `nvidia-smi nvlink -h`
- using [pynvml](https://github.com/gpuopenanalytics/pynvml)
  - [support for nvlink](https://github.com/gpuopenanalytics/pynvml/blob/7f87c33139cda809ef49032ee21933262d5017f9/pynvml/test

[2019-08-27 21:05] quasiben opened #167 "Scheduler Hang and Segfault"
# Configuration

## Scheduler
[code]

## Workers

Four workers with the following startup

each worker cycles through the starting value for `CUDA_VISIBLE_DEVICES`

Joining two large dask_cudf dataframes results in a hang in all the workers and eventually the scheduler segfaults (see backtrace below).  I am also printing out (every second) what the python thread is doing.  For a number of minutes

[2019-08-28 14:29] thomcom opened #168 "`tests/test_custom_ep_send_recv.py::test_send_recv_cupy` hangs"
When running tests, a warning is produced

[code]

Port 13337 is unavailable, which causes the test to hang and eventually segfault when it uses the port.

I'm working on a fix that preferably identifies when this is the case when `ucp_py_get_ep` is called and errors instead of hangs.

[2019-08-28 17:25] #168 closed, assigned to nobody

[2019-08-28 20:40] quasiben opened #171 "cuDF Serialization Deep Dive"
@shwina and @kkraus14 spent some time diving into the serialization code of cudf while running UCX.  To generate the bug we used the following [notebook](https://github.com/quasiben/cudf-ucx-fail-scripts/blob/master/futures-sum.ipynb)

[code]

@shwina explored deconstructing a series in individual pieces (index + column).  Tests passed without issue but this is probably due to not dispatching to t

[2019-08-28 21:13] quasiben commented on #171
During this session we also added print statements to around where distributed is executing a function:
https://github.com/dask/distributed/blob/bc6f4a6395cbb28b493ff7984b941aa1e0dc4fd5/distributed/worker.py#L3245-L3247

[code]

And we were able to generate the following output on one of the workers:

[code]

There was no paired `Stopping Func` for `eb5821782bbbf1018d18fd47baf6de06`.

[2019-08-29 02:18] quasiben opened #172 "cupy nvlink test"
While exploring #171 I wanted to explore and measure cupy over nvlink.  I ran the following experiment:

## Script

[code]

## Scheduler
[code]

## Worker 1
[code]
## Worker 2
[code]

I then tried to measure data transfer with nvlink:

The output for the `nvidia-smi nvlink` command never registered any data transfer

[code]

As another test I ran https://github.com/rapidsai/ucx-py/pull/145 on GPUs

[2019-08-29 19:47] quasiben opened #173 "DummyTest w/Segfault"
## Setup

- scheduler + two workers GPUs 4/5

In this test we create a dummy object which creates a numba device array and does nothing with, no consumption in the deserialization.  We also tested this with cupy and get a similar segfault with a large enough array ~100K

## Scripts
- https://github.com/quasiben/cudf-ucx-fail-scripts/blob/2692d3261f07811b6aadc4709763175cf7fd93dc/dummy.py#L1-L40
- h

[2019-08-29 20:06] mrocklin commented on #102
For context, here is our solution:

https://github.com/rapidsai/dask-cuda/blob/branch-0.10/dask_cuda/initialize_context.py

[2019-08-29 20:34] Akshay-Venkatesh commented on #173
Can't open this:
https://github.com/quasiben/cudf-ucx-fail-scripts/blob/ba8b4797189256f9de24c5cc378ed92d0500c42c/dummy-column.ipynb

[2019-08-29 20:41] mrocklin commented on #173
https://nbviewer.jupyter.org/github/quasiben/cudf-ucx-fail-scripts/blob/ba8b4797189256f9de24c5cc378ed92d0500c42c/dummy-column.ipynb

On Thu, Aug 29, 2019 at 1:34 PM Akshay-Venkatesh <notifications@github.com>
wrote:

[2019-08-29 21:23] quasiben commented on #173
I believe we can close this we found this issue: https://github.com/rapidsai/ucx-py/issues/102 and @mrocklin pointed us to how dask-cuda sets the context for workers:

https://github.com/rapidsai/dask-cuda/blob/ae9b27c20da3bc1bb8376b991e48e646642070fe/dask_cuda/initialize_context.py#L22-L27

we set the context as the first task when starting dask and the segfault went away

[2019-08-29 21:26] thomcom commented on #173
Does this actually fix the main hanging issue?!

[2019-08-29 22:20] quasiben commented on #173
Sadly, no. But it's still useful to have identified this

On Thu, Aug 29, 2019, 5:26 PM H. Thomson Comer <notifications@github.com>
wrote:

[2019-08-30 03:15] #173 closed

[2019-08-30 03:17] quasiben commented on #167
I can no longer reproduce this error. Still the setup may prove useful should someone else need a similar debugging setup

[2019-08-30 03:17] #167 closed

[2019-08-30 18:31] quasiben commented on #171
I am have PR in https://github.com/rapidsai/ucx-py/pull/174 which parameterizes these tests

[2019-08-31 02:18] quasiben commented on #172
I think everything here is actually working correctly.  It seems like nvlink only measures in KBs.  The tests above or only sending 8bytes of data at a time

[2019-08-31 02:18] #172 closed

[2019-09-01 09:16] pentschev commented on #123
If this repo will be long-maintained by RAPIDS, I would suggest sticking to Apache 2 license, per the reason pointed out by @mrocklin.

[2019-09-01 23:50] jakirkham commented on #123
Are we still planning on upstreaming this to UCX? If so, I’d suggest just using the UCX license file here (i.e. BSD-3-Clause) as @MattBBaker has stated. Otherwise we are merely complicating the upstreaming process for ourselves later.

[2019-09-02 01:58] mrocklin commented on #123
Sounds good. Go for it. You should probably check in with Akshay.

On Sun, Sep 1, 2019, 4:50 PM jakirkham <notifications@github.com> wrote:

[2019-09-04 12:08] madsbk opened #175 "[QST] No Deadlock - What am I misunderstanding?"
I cannot understand why our send/recv tests doesn't deadlock.

For instance, why does this test in [test_send_recv_obj.py](https://github.com/rapidsai/ucx-py/blob/devel/tests/test_send_recv_obj.py#L28) not deadlock when setting [`UCX_RNDV_THRESH=1`](https://github.com/openucx/ucx/wiki/Rendezvous-Protocol)?
[code]
I would expect that `await client.send_obj(msg)` would block until `msg` has been sen

[2019-09-04 12:21] Akshay-Venkatesh commented on #175
I this case the sender and receiver are running on two separate coroutines aren't they? If so, why is there an expectation of deadlock? The test above is different from that in https://github.com/rapidsai/ucx-py/issues/140#issuecomment-519596036

Lemme know if I've misunderstood your question.

[2019-09-04 12:32] madsbk commented on #175
it is properly me that don't understand the semantic of `asyncio` but what do you mean with "running on two separate coroutines"?
Ain't `await` blocking until the future is finished?

[2019-09-04 12:35] madsbk commented on #175
I was expecting something like this behavior: https://stackoverflow.com/questions/43518504/multiple-async-calls-blocking

[2019-09-04 14:00] mrocklin commented on #175
[code]

There is another coroutine running in the background created by `echo_pair`.  What we're seeing here is only half of the communication.  The server running in the background echos any message sent to it back to the client.

[2019-09-04 14:12] madsbk commented on #175
Right, now I get it :)

`await client.send_obj()` is talking to the [`echo_server`](https://github.com/rapidsai/ucx-py/blob/b1db504ec17ba4717f741344183020b9c8eec909/ucp/_utils.py#L42) and not to `await client.recv_obj()` :)

Thanks

[2019-09-04 14:12] mrocklin commented on #175
Yes.  Exactly.

[2019-09-04 16:47] MattBBaker commented on #175
One point I want to raise as well from a low level UCX perspective. The send and recv functions do not necessarily have to be paired before completing. It looks like the send_obj and recv_obj are implement with ucp_tag_recv_nb and ucp_tag_send_nb, and if the under laying uct transport buffers receives then it is possible for UCX to report a ucp_tag_send_nb as completed before the corresponding ucp

[2019-09-05 10:12] madsbk commented on #175
@MattBBaker, good point.
Do you know if `UCX_RNDV_THRESH=1` changes this behavior? I would expect that using the [Rendezvous Protocol](https://github.com/openucx/ucx/wiki/Rendezvous-Protocol) would make the send/recv calls block until the pair has been established?

[2019-09-05 12:51] MattBBaker commented on #175
@madsbk Yes, the Rendezvous Protocol uses zcopy mechanics so the recv part needs to have it's memory allocated already to copy into, so the sender won't complete until the remote side has finished it's transfer.

[2019-09-05 13:07] madsbk commented on #175
Great, thanks for the clarification

[2019-09-05 13:07] #175 closed

[2019-09-06 06:51] jakirkham commented on #123
@Akshay-Venkatesh , can you please weigh in here (when you have a chance)?

[2019-09-06 13:33] Akshay-Venkatesh commented on #123
The plan is still to upstream to UCX but those are probably aimed for post-UCX 1.7 release. Suggestion from @MattBBaker sounds reasonable to me as well.

[2019-09-08 17:31] madsbk opened #179 "[QST] Why not ucp_stream_send_nb and ucp_stream_recv_nb?"
Is there any reason why we are not using `ucp_stream_send_nb()` and `ucp_stream_recv_nb()` instead of `ucp_tag_recv_nb()` and `ucp_tag_recv_nb()` for communication?

A problem with `ucp_tag_recv_nb()` is that you cannot specify an endpoint to listen on. Instead, you have to use tags to differentiate the endpoint of the incoming messages.

cc @Akshay-Venkatesh

[2019-09-08 21:25] Akshay-Venkatesh commented on #179
@madsbk

This is something we had considered before tag matching layer we added. Stream based operations on GPU buffers aren't performant yet due to internal UCP implementation.

[2019-09-09 22:41] jakirkham commented on #123
Thanks all. Have submitted PR ( https://github.com/rapidsai/ucx-py/pull/182 ) to address this. Please take a look.

[2019-09-11 14:52] #179 closed

[2019-09-11 17:09] #123 closed

[2019-09-12 20:50] quasiben opened #183 "Numba + Dask + UCX Test"
I think it would be useful to have a test with the following characteristics:

- 3 or more processes/workers
- uses numba device arrays
- does a complex thing with numba device arrays -- I'm not sure what that thing is but we should be after moving numba device arrays between all the process: Worker 1->Worker 2/Worker3, Worker 2->Worker 1/3, Worker 3 -> Worker 1/2

As an extra ask if the test coul

[2019-09-12 21:25] quasiben opened #184 "ucx initialization + cudf"
ucx initialization is suppose to happen before any cuda context loading -- @Akshay-Venkatesh has said this several times most recently, [here](https://github.com/rapidsai/ucx-py/pull/180#issuecomment-530957458)

Dask doesn't call `ucp.init()` until a worker has started up and a connection has been made.  I believe this happens *after* [preload modules](https://github.com/dask/distributed/blob/mast

[2019-09-13 14:37] quasiben commented on #184
@Akshay-Venkatesh Does UCX or UCX-PY ever change the cuda context ?

[2019-09-13 14:44] quasiben commented on #184
@mrocklin does the dask-scheduler ever deserialize a cuda object ?  Would you expect to set the env var `CUDA_VISIBLE_DEVICES` on the scheduler

[2019-09-13 15:25] Akshay-Venkatesh commented on #184
No

[2019-09-13 17:31] mrocklin commented on #184
The scheduler doesn't deserialize anything.  However, it may proxy things.  So it may still receive GPU data and so we might want to specify CUDA_VISIBLE_DEVICES there in order to target which GPU it uses, although always choosing GPU 0 probably makes sense.

[2019-09-13 18:21] pentschev commented on #184
I did a simple test on this, starting 4 processes as follows:

1. `CUDA_VISIBLE_DEVICES="" dask-scheduler`
1. `CUDA_VISIBLE_DEVICES="0" dask-cuda-worker $SCHEDULER_IP:$SCHEDULER_PORT`
1. `CUDA_VISIBLE_DEVICES="1" dask-cuda-worker $SCHEDULER_IP:$SCHEDULER_PORT`
1. `CUDA_VISIBLE_DEVICES="2" python

On the last process I executed:

[code]

It works, and by watching `nvidia-smi` I can see first GPUs 0

[2019-09-13 20:28] quasiben commented on #184
@mrocklin did you say ucp initialization *had* to occur before cuda initialization or did I invent this ?  If so, do you know where this requirement came from ?

[2019-09-13 20:44] Akshay-Venkatesh commented on #184
Ben, my comment https://github.com/rapidsai/ucx-py/pull/180#issuecomment-530957458 doesn't mean that UCP has to be initialized before cuda initialization. It only means that you can't use `UCX_MEMTYPE_CACHE ` if you're going to initialize and allocate cuda buffers before UCP initialization. Since `UCX_MEMTYPE_CACHE=n` in most of the experiments you run, cuda can be initialized before UCP initializ

[2019-09-13 21:34] quasiben commented on #184
Ah!  Thanks for clarifying!

[2019-09-16 19:34] quasiben opened #186 "Failing NVLINK test"
We have a test which passes data between [two processes](https://github.com/rapidsai/ucx-py/blob/38c14bb2d5ad8e441bb64735f91f4d5c6670a40d/tests/test_send_recv_two_workers.py) in PR #174

The cupy test:

passes when using @Akshay-Venkatesh branch https://github.com/Akshay-Venkatesh/ucx/tree/ucx-cuda-backup but does not pass on then now updated branch https://github.com/Akshay-Venkatesh/ucx/tree/ucx

[2019-09-16 19:45] pentschev commented on #186
I can confirm that, for me it also works when running https://github.com/Akshay-Venkatesh/ucx/tree/ucx-cuda-backup, but it doesn't if I run https://github.com/Akshay-Venkatesh/ucx/tree/ucx-cuda.

[2019-09-16 20:01] pentschev commented on #186
I also checked the same test we were looking at during our conference call earlier today with https://github.com/Akshay-Venkatesh/ucx/tree/ucx-cuda-backup, and I see that there is some NVLink transfer, which is not the case with the other branch, even though it also hangs apparently at the same point.

One more thing that I don't know if it's still relevant or not, the https://github.com/Akshay-Ve

[2019-09-16 21:26] quasiben opened #187 "Join Hang exploration with GDB"
@pentschev  and @Akshay-Venkatesh  spent time looking at the hang with GDB using the following test

They found things hanging much of time in u`ct_cuda_copy_ep_put_short` and `uct_cuda_copy_ep_get_short` in `ib_md.c` of UCX.  From ucx-py, we send data through ucp_tag_send_nb, this in turn breaks up the data into small chunks and begins transferring the data.  During IB transfers, these small send

[2019-09-16 21:34] mrocklin commented on #187
Are those chunk sizes coming from the Python side?  Are we sending in frame buffers that are 8147 bytes?  Or is something happening internally to UCX?

[2019-09-16 21:38] pentschev commented on #187
It's internal to UCX, but @Akshay-Venkatesh agreed they should be increased. It seems that it isn't possible today (or at least I wasn't able to do it), not even with https://github.com/openucx/ucx/pull/4123, which according to @Akshay-Venkatesh addresses that.

[2019-09-16 22:19] pentschev commented on #187
I was able to increase the segment size by passing `UCX_SEG_SIZE=2MB` (default: `8K`) and confirmed it actually increased the size by printing the size in `uct_cuda_copy_ep_put_short`, but I still experience hangs there, despite existing much less `cudaMemcpyAsync` calls now. That said, I don't have any other leads at the moment.

[2019-09-16 23:44] quasiben commented on #187
@Akshay-Venkatesh the results from what `ucp_py_ep_send_nb` is sending:

[code]

The following pattern now repeats forever:
[code]

[2019-09-17 00:23] Akshay-Venkatesh commented on #187
The latter pattern indicates heartbeat messages.

[2019-09-17 00:24] quasiben commented on #187
corret, that is most likely the heartbeat between worker and scheduler

[2019-09-17 00:26] Akshay-Venkatesh commented on #187
Can you also paste the backtrace where cudaMemcpyAsync seems to hang?

[2019-09-17 00:28] Akshay-Venkatesh commented on #187
Actually, if heartbeat messages are being exchanged, does this mean that multiple threads are issuing ucx_py calls or does it mean that multiple coroutines are responsible for this? I'm trying to understand if there is cuda activity from other threads for a given worker.

[2019-09-17 01:49] mrocklin commented on #187
All Dask communication happens from the single thread running the event loop.  That thread may have multiple concurrent communications happening at the same time though.

[2019-09-17 09:13] pentschev commented on #187
A side note: yesterday during our debug session we saw 88 threads for each worker. After looking at the threads in more detail I noticed they come from NumPy, which is using OpenBLAS to create one thread per CPU thread (80 in total). Since we're not doing any BLAS operations with NumPy anyway, we can limit that by setting the environment variable `OPENBLAS_NUM_THREADS=1`, resulting in a total of 9

[2019-09-17 14:32] jakirkham commented on #187
Yeah this is common with BLAS libraries. May also want to set `OPENMP_NUM_THREADS` to `1` as well to make sure there are no libraries doing the same with OpenMP.

[2019-09-17 16:46] pentschev commented on #187
Alright, after more debugging I was able to find the exact issue and write a small hack to make the test complete without hanging. It's a continuation of our debugging from yesterday, and here's what I did:

First, I checked how I could debug locks further and found [this](https://en.wikibooks.org/wiki/Linux_Applications_Debugging_Techniques/Deadlocks). Following those instructions, I was able to

[2019-09-17 16:53] mrocklin commented on #187
This makes me cautiously very excited :)

[2019-09-17 16:57] devavret commented on #187
In the linked issue, the problem was that python calls were made without releasing the GIL. So the culprit wasn't the CUDA calls, it was the calls into libcudf using Cython. So, instead of editing the numba function, you should look for a place where someone forgot to release the GIL before the execution steps into C++ land.

[2019-09-17 16:57] pentschev commented on #187
I was able to run that test various times without a hang, but my hack is not a fix, so we should still investigate what leads to that call hanging in Numba.

[2019-09-17 16:57] kkraus14 commented on #187
@pentschev I believe the locks / mutexs you're seeing and having issues with are within the Numba codebase. One thing I've noticed is that numba kernels are now returning asynchronously when they previously blocked and ran synchronously. Could you try adding:
[code]
Under line 60 and see if that resolves the hang as well?

[2019-09-17 17:08] pentschev commented on #187
I didn't edit as a fix, but only as a hack to see whether it would work. I would also have no idea where to start looking for a missing GIL release, that's why I preferred to engage cuDF devs here first.

No, that didn't work. I even think it shouldn't work, since the lock happens before the `cuda.synchronize()` line gets a chance to be executed.

[2019-09-17 17:12] mrocklin commented on #187
Also cc'ing Numba devs @sklam and @seibert

[2019-09-17 17:40] kkraus14 commented on #187
Does it happen before the actual kernel launch? I.E. in querying the driver API for a kernel launch configuration?

[2019-09-17 17:53] kkraus14 commented on #187
@pentschev another idea would be to try manually specifying the kernel launch conditions for that kernel instead of the `.forall(...)` call. That should avoid the `cuOccupancyMaxPotentialBlockSize` call to narrow it down further.

[2019-09-17 18:16] Akshay-Venkatesh commented on #187
So `cuOccupancyMaxPotentialBlockSize` results in `ffi_closure_unix64` being called. This eventually results in an attempt to acquire GIL while it's being held somewhere else. This is potentially the same thread which issues the `cuMemcpyAsync` -- which in turn is blocked from not being able to acquire the mutex. I imagine that both threads share the cuda context hence contending for the same mutex

[2019-09-17 18:16] pentschev commented on #187
Yes, Numba calls `cuOccupancyMaxPotentialBlockSize` to determine the block/grid sizes before the kernel launch, so the sync call isn't reached.

I thought the same, and that would most likely work as a short-term solution, but since this may eventually happen in other places, maybe it's worth investigating the causes for that? I believe we won't be able/willing to specify launch conditions everywh

[2019-09-17 18:18] kkraus14 commented on #187
To be clear I'm not saying this is a solution, but if that works then it finely scopes where the problem is for us to dive in to triage and resolve.

[2019-09-17 18:34] pentschev commented on #187
I've created a gist with a complete backtrace of a hanging worker in https://gist.github.com/pentschev/70066e403323c67413578c5cddd4eb1b.

The thread with `cudaMemcpyAsync` (thread 1) is definitely waiting on a mutex that is owned (and locked too) by the thread calling `cuOccupancyMaxPotentialBlockSize` (thread 9). I'm not exactly sure who locks that mutex, but I imagine it's somewhere in libcuda.

[2019-09-17 18:35] pentschev commented on #187
Yes, that's plausible, I will try it shortly and report back.

[2019-09-17 19:27] shwina commented on #187
In the `arange` function defined in `cudautils.py`, this change avoids the call to `cuOccupancyMaxPotentialBlockSize` (and avoids the hang):

[code]

[2019-09-17 20:59] pentschev commented on #187
We actually found the ultimate cause of the bug. Thanks @kkraus14 @quasiben @shwina @mt-jones for taking the time for our live debugging.

To describe briefly, the problem is the `numba.forall` call, which internally calls `cuOccupancyMaxPotentialBlockSize`. This last function requires two function pointers, one being the CUDA kernel itself, and the other being a function to calculate how much sha

[2019-09-18 02:58] Akshay-Venkatesh commented on #187
@pentschev @kkraus14  Question on this -- when UCX tries to send an object (backed by cuda buffers) to a peer, is it not grabbing the GIL? (I believe it is) As seen in this hang, we know UCX will call `cuMemcpyAsync` to send out objects so I don't know if UCX can guarantee not grabbing GIL while it's making CUDA calls. It would release after the call but if any thread that shares the cuda context

[2019-09-18 09:17] pentschev commented on #187
That's the whole point, during all libcuda-related computation we _should not_ take the GIL. From what I saw during debugging, at least on the places where there were the test would hang, nowhere would UCX try to take the GIL.

I would also say that UCX in itself is completely agnostic to Python, so we shouldn't worry about that directly. However, if we had a CUDA function that would take a functi

[2019-09-18 14:12] kkraus14 commented on #187
PR opened here: https://github.com/numba/numba/pull/4581

[2019-09-18 18:22] Akshay-Venkatesh commented on #187
I understand that. What if we grab the GIL before making a cuda call because we will touch some python objects? Is it also not unsafe?

[2019-09-18 18:56] pentschev commented on #187
That would be unsafe too, yes. I guess we have to be careful not to take the GIL and then launch a CUDA call before releasing it again. I'm not sure there's a way to prevent that other than being careful.

[2019-09-18 20:46] quasiben commented on #184
closing in favor of https://github.com/rapidsai/ucx-py/issues/187

[2019-09-18 20:46] #184 closed

[2019-09-18 21:02] Akshay-Venkatesh commented on #187
Had an offline discussion with @kkraus14 and came to the conclusion that as long as threads (from any library/module) follow the sequence of 1. acquiring GIL 2. acquiring cuda context mutex then we're safe -- with one exception. If after acquiring the cuda context, a callback is invoked which attempts GIL acquire, we will run into a deadlock even if there is just a single thread that's being used.

[2019-09-18 21:06] quasiben commented on #187
Thanks for the update @Akshay-Venkatesh

[2019-09-18 21:21] pentschev commented on #187
Exactly, this was the main lesson learned here. We can try to watch ourselves and prevent that from happening again, but other libraries may still do it by mistake, as it was the case with Numba itself.

[2019-09-23 09:02] madsbk opened #188 "New default branch that follows RAPIDS's branch/version convention"
I suggest that we follow the RAPIDS's branch/version convention and create a new default branch `branch-0.10` and merge the new [Python bindings](https://github.com/rapidsai/ucx-py/pull/180) into it. That way, existing install descriptions that explicit pull the `devel` branch a not affected by the new bindings.

Thoughts?

[2019-09-23 13:00] madsbk commented on #88
@Akshay-Venkatesh, what is the status of TCP support in UCX? Should it work now?

I am trying to install UCX+UCX-Py on my home workstation and with UCX `master` I get the error:
[code]

[2019-09-23 13:18] mrocklin commented on #188
cc @Akshay-Venkatesh

[2019-09-23 13:26] mrocklin commented on #88
That's pretty exciting.  I hope that this becomes easier to do in the future :)

[2019-09-23 15:56] quasiben commented on #88
@madsbk I believe TCP support has been added in these PRs:
- https://github.com/openucx/ucx/pull/4098
-  https://github.com/openucx/ucx/pull/4073

@Akshay-Venkatesh has tested the work here: https://gist.github.com/Akshay-Venkatesh/2c48e3c8b682d44ad98bb40ce8e043aa#file-pytest-results-txt

Relevant ENV VARS:

[2019-09-23 16:31] madsbk commented on #88
Do I need to set anything special when building UCX?
Could you post the build command you are using?

[2019-09-23 16:34] quasiben commented on #88
Some additional details previously posted from @Akshay-Venkatesh:

[code]

[code]

[2019-09-23 16:46] madsbk commented on #88
I tried to use `UCX_TLS=tcp,cuda_copy,sockcm UCX_SOCKADDR_TLS_PRIORITY=sockcm` and setting `def get_address(ifname='eno2')` but it didn't help.

I am wondering if I need to build UCX with some special compile options?

[2019-09-23 17:16] quasiben commented on #88
I don't think you should need to rebuild UCX with special compile command.  I think I got this working by using device `enp1s0f0` on DGX15.

[2019-09-23 18:14] quasiben commented on #188
While the work is done in this repo keeping things in sync with rapids make sense.  Luckily, the versions of rapids are behind that of core UCX which is currently at 1.6.1

[2019-09-23 18:55] quasiben commented on #88
@madsbk I also tried this on a NUC (small linux machine no GPU) and things when I hardcoded the correct address and with the following change:

[code]

[code]

[2019-09-23 20:13] Akshay-Venkatesh commented on #188
I'm not familiar with RAPIDS branch/version convention. If there's enough confidence in https://github.com/rapidsai/ucx-py/pull/180 then I have no objections. That said, shouldn't it be the case that there's a main branch that you fork off of and create new branches like `branch-0.10`, `branch-0.20`... ? If so, should https://github.com/rapidsai/ucx-py/pull/180 be merged into devel and then fork o

[2019-09-23 21:16] quasiben commented on #188
RAPIDS takes the convention of continually building branches as the "main" branch.  For example, until recently, branch-0.9 was the main branch, 0.9 was released, and 0.10 became the main branch.  Dask/Distributed use the convention of a "master" branch and tagging releases.  I believe @madsbk suggestion is keeping the structure of `devel` intact should something happen.

I personally like dask's

[2019-09-23 21:33] Akshay-Venkatesh commented on #188
Thanks for clarifying. I didn't know about building branches as main. I don't know the pros and cons of the approach but if that's how RAPIDS does it, then I think remaining consistent with that approach makes sense.

[2019-09-24 07:19] madsbk commented on #188
Agree, I also prefer the more traditional approach with "master" branch and tagging releases but since the other RAPIDS projects use the alternative approach, I think we should as well.

[2019-09-24 13:14] mrocklin commented on #188
(+1 on using master and tagging releases generally)

I think that long-term ucx-py should probably follow conventions defined by
the UCX project rather than RAPIDS.  If there is some short term
alternative that makes folks more productive then that makes sense to me.

On Tue, Sep 24, 2019 at 2:19 AM Mads R. B. Kristensen <
notifications@github.com> wrote:

[2019-09-25 08:41] madsbk commented on #188
Okay, let's use the "master and tagging releases" scheme, we can always change it later.

When it is ready, I will merge the new Python bindings into master

[2019-09-25 15:05] madsbk commented on #188
I have merged #180 into `master` but I do not have permission to change default branch.

[2019-09-25 16:04] quasiben commented on #188
Neither do I.  @Akshay-Venkatesh can you help with this ?

[2019-09-25 16:55] pentschev commented on #187
I think this is good to close now? Fix is in Numba upstream.

[2019-09-25 16:56] quasiben commented on #187
Thanks @pentschev !

[2019-09-25 16:56] #187 closed

[2019-09-25 17:45] Akshay-Venkatesh commented on #188
I don't own https://github.com/rapidsai/ucx-py
cc @raydouglass

[2019-09-25 18:10] raydouglass commented on #188
gpuCI is designed to operate with the git methodology used by RAPIDS (see https://docs.rapids.ai/resources/git/). Using `master` as the main development branch isn't possible with gpuCI.

The best course of action is to follow RAPIDS. The development branch doesn't have to match the naming convention of `branch-x.y` though. Just let me know what your preferred dev branch is and I can set it as the

[2019-09-26 07:24] madsbk commented on #153
Because of #180, this is not relevant anymore.

[2019-09-26 07:24] #153 closed

[2019-09-26 14:59] oyilmaz-nvidia opened #191 "[QST] Getting ucx module not found error in python shell after successful installation"
Trying to build ucx and ucx-py from source in my devbox but for some reason, the ucx-py module is not installed even though it's saying the installation is successful. I have Ubuntu 18.05 and CUDA 10.0 in my devbox. Using conda environment.

"conda list ucp" output as follows;
# Name                    Version                   Build  Channel
ucp                       0.0.0                     <pi

[2019-09-26 15:00] quasiben commented on #80
removing now that #180 is merged in

[2019-09-26 15:00] #80 closed

[2019-09-26 15:01] quasiben commented on #100
removing now that #180 is merged in -- if there are still issues closing comms we should open a new issue

[2019-09-26 15:01] #100 closed

[2019-09-26 15:09] quasiben commented on #191
Can you verify ucx is installed correctly and post the output of the following:

[code]

[2019-09-26 15:24] oyilmaz-nvidia commented on #191
ucx_info -d

# Memory domain: posix
#     Component: posix
#             allocate: unlimited
#           remote key: 29 bytes
#           rkey_ptr is supported
#
#   Transport: posix
#      Device: memory
#
#      capabilities:
#            bandwidth: 12179.00 + 0.00 MB/sec
#              latency: 80 nsec
#             overhead: 10 nsec
#            put_short: <= 4294967295
#            put_bcopy:

[2019-09-26 15:33] oyilmaz-nvidia commented on #191
Sorry for the character sizes in previous comment. Automatically enlarged it because of the "#" characters in the message.

[2019-09-26 15:35] quasiben commented on #191
I edited the comment to handle sizing issue

[2019-09-26 15:42] quasiben commented on #191
Ah, i think the issue maybe be that we have just switched the Python bindings and the the default branch is not `master` .  Can you pull the `master` branch and re-install (make clean; make install).  Then verify correctness with the following:

[2019-09-26 16:21] oyilmaz-nvidia commented on #191
Got this error from master branch.

[code]

[2019-09-26 16:22] oyilmaz-nvidia commented on #191
Never mind.  UCX_PATH wasn't set properly.

[2019-09-26 16:23] quasiben commented on #191
You need to set UCX_PATH before you build:

[code]

[2019-09-26 16:26] oyilmaz-nvidia commented on #191
Still not installed. Getting the following from make install;

[code]

[2019-09-26 16:29] oyilmaz-nvidia commented on #191
I guess it's picking up the python2 rather than python3.

[2019-09-26 16:30] quasiben commented on #191
sorry, the markdown messed up the syntax it should be :

[code]

note the `__`

[2019-09-26 16:33] oyilmaz-nvidia commented on #191
Ok, it's working now. Thanks!

[2019-09-26 16:37] quasiben commented on #191
Thank you!   Note in https://github.com/rapidsai/ucx-py/pull/193 i've added versions to make things more clear

[2019-09-26 16:37] #191 closed

[2019-09-26 17:54] quasiben commented on #188
@raydouglass can we do this at least temporarily while we sort out some issues ?  the default branch is currently tied to how we are building conda packages ?

[2019-09-26 18:43] quasiben commented on #188
@raydouglass, disregard the last comment, we've created branch ` branch-0.10`.  Can this be set to default ?

[2019-09-26 21:01] oyilmaz-nvidia opened #194 "Error getting from a cuML test even though UCP is installed successfully"
Installed everything successfully by following the steps on ucx-py. @cjnolet  suggested to run two lines of code in python shell but getting error. Following is that code;

[code]
And the error is;

[code]

@cjnolet  suggested to use the ucx-py where the last commit is at c93687a74aecae6f915adf20d5513c5dce29f927

Here is the output of ucx_info -d'

[code]

[2019-09-26 21:18] quasiben commented on #194
There is a PR into cuml with some ucx-py fixes: https://github.com/rapidsai/cuml/pull/1128 .  Perhaps that resolves some issues for you ?

[2019-09-26 21:22] cjnolet commented on #194
Onur is using the same commit in `ucx-py` that I've been using (pre-API
updates for now). The current plan is to integrate the ucx-py API updates
early in 0.11.

For now, I'm able to run the tests in cuML successfully but Onur is not.

On Thu, Sep 26, 2019 at 5:18 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-09-26 21:35] quasiben commented on #194
I'm not sure what's being asked here ?  Is it why the tests are failing on an older ucx-py + cuml  ?

[2019-09-26 23:52] quasiben commented on #194
Looks like @Akshay-Venkatesh answered this in slack.  A change in `ucp_py_ucp_fxns.c` was needed to enable TCP

[code]

@oyilmaz-nvidia did this change work for you ?

[2019-09-26 23:53] quasiben commented on #188
@mike-wendt if you have time can you set the default branch to be `branch-0.10` ?

[2019-09-27 05:05] quasiben opened #195 "CI Style Checks"
In PR https://github.com/rapidsai/ucx-py/pull/177 style checks are not actually enforced.  We should turn style checks back on in a separate PR and run: isort/flake8/black on the code base

[2019-09-27 14:53] mrocklin opened #197 "Use Travis/Circle CI for testing"
Currently in #177 we're adding CI using NVIDIA/RAPIDS infrastructure.  This is great because it provides access to GPUs.

However, we might add a public service like Travis-CI or Circle-CI as well.  This would both ensure that ucx-py works well in CPU-only situations, and provide some redundancy in testing.

Additionally, my hope is that by adding a more low-tech testing infrastructure we'll ensur

[2019-09-27 21:56] quasiben opened #200 "MultiNode UCX Test"
From @pentschev:

Summit nodes contain only ib0, there I was able to verify that UCX works and is faster than TCP. I haven’t looked at traffic details to verify the bandwidth gain, but running a simple SVD test (on an array of shape (1_000_000, 1_000)) takes 6.7 seconds on 4 nodes with IB and 11.3 seconds on 4 nodes on TCP (over Ethernet).

Testing with
[code]

[2019-09-27 22:09] Akshay-Venkatesh commented on #200
You need `UCX_TLS=rc,tcp,sockcm,cuda_copy,cuda_ipc` for IB. `rc` or `dc` is the preferred UCT to enable IB.

[2019-09-27 23:59] jakirkham opened #201 "Soften dependencies needed for setup.py"
When trying to run things like `python setup.py --version`, they will fail if `cython` is not available. This turns out to be an issue when trying to determine the version information (from versioneer) as part of a Conda recipe. ( https://github.com/conda/conda-build/issues/3507 )

cc @quasiben

[2019-09-30 12:32] #194 closed

[2019-10-01 02:03] raydouglass commented on #188
Default branch is now `branch-0.10`

[2019-10-01 02:31] quasiben commented on #188
Thanks @raydouglass -- closing

[2019-10-01 02:31] #188 closed

[2019-10-01 09:34] madsbk commented on #163
@quasiben, this should be fixed by #190. Can you check if you still get the segfault?

[2019-10-01 10:31] madsbk commented on #142
@randerzander, a basic test:
[code]
Where `eth0` is your network interface.

In order to test without GPU remove `cuda_copy,cuda_ipc` from `UCX_TLS`.

[2019-10-01 10:38] madsbk commented on #134
`branch-0.10` should work on machines without IB and GPUs

[2019-10-01 10:38] #134 closed

[2019-10-01 11:11] madsbk commented on #130
Is this something still of interest? Exposing the underlying UCX handles as Python integers is very easy and already done for the [worker](https://github.com/rapidsai/ucx-py/blob/b68e727bdc27edc326cf16ef8c36debdfbd8eb3f/ucp/public_api.py#L82). Is that sufficient?

[2019-10-01 11:26] madsbk commented on #88
See: https://github.com/rapidsai/ucx-py/#tcp-support

[2019-10-01 11:26] #88 closed

[2019-10-01 11:31] madsbk commented on #71
As the only bindings, the new Python bindings supports `memoryview`, `__array_interface__`, and `__cuda_array_interface__` but it does not reconstruct anything. The receiver provides the container to write to.

[2019-10-01 11:31] #71 closed

[2019-10-01 11:39] madsbk commented on #56
Both `devel` and `branch-0.10` implements most of the idea here. Let's open a new issue if we need further API discussion.

[2019-10-01 11:39] #56 closed

[2019-10-01 11:42] madsbk commented on #57
Standalone tests and TCP support exist for both `devel` and `branch-0.10`

[2019-10-01 11:42] #57 closed

[2019-10-01 11:43] madsbk commented on #59
Fixed in both `devel` and `branch-0.10`

[2019-10-01 11:43] #59 closed

[2019-10-01 11:44] madsbk commented on #60
Fixed in both `devel` and `branch-0.10`

[2019-10-01 11:44] #60 closed

[2019-10-01 11:45] madsbk commented on #72
Fixed in both `devel` and `branch-0.10`

[2019-10-01 11:45] #72 closed

[2019-10-01 11:50] madsbk commented on #142
@randerzander, please re-open this issue or open a new issue if it still doesn't work for you on `branch-0.10`.

[2019-10-01 11:50] #142 closed

[2019-10-01 13:42] mrocklin commented on #134
Nice.  I'm curious, have you tried it with a consumer linux machine?  If so, how did it go?

[2019-10-01 14:36] quasiben commented on #163
No segfault!

[2019-10-01 14:36] quasiben commented on #160
no, we can close this

[2019-10-01 14:36] #160 closed

[2019-10-01 14:39] quasiben commented on #134
I tried on an [Intel Nuc](https://en.wikipedia.org/wiki/Next_Unit_of_Computing) and things went smoothly wrt usability -- no benchmarks

[2019-10-01 14:41] quasiben opened #202 "Benchmark UCX-PY on Consumer Machine"
It would be good to benchmark ucx-py with other sockets/tcp communication libraries in Python.  For example, one can send data with [sockets](https://docs.python.org/3/library/socket.html)

[code]

[2019-10-01 14:46] mrocklin commented on #202
@Akshay-Venkatesh is there anything special that a user will have to do in order to use shared memory to transport data?

[2019-10-01 14:59] Akshay-Venkatesh commented on #202
`UCX_TLS` should include `sm`

[2019-10-01 18:55] jakirkham commented on #201
* Cython has been relaxed with PR ( https://github.com/rapidsai/ucx-py/pull/203 )
* NumPy is being relaxed with PR ( https://github.com/rapidsai/ucx-py/pull/204 )

[2019-10-02 03:45] quasiben opened #205 "Failing Numba Test on DGX"
On DGX15 I see get a failing test when running all the numba tests in succession

[code]

When running the offending test individually the test passes:

[code]

@pentschev do you think this is related to some of the failing RDMA behaviors you've seen ?

[2019-10-02 08:06] pentschev commented on #205
@quasiben yes, this is the same error I've seen that causes workers/scheduler to crash, but this is a much easier way to reproduce.

@Akshay-Venkatesh could you take a look at this? This is the same error we talked about yesterday, I think this will be easier for you to reproduce as well.

[2019-10-02 10:09] madsbk commented on #134
I have tried it on my laptop and it also went smoothly :)

[2019-10-02 10:10] #163 closed

[2019-10-02 13:27] quasiben commented on #205
@madsbk do you have time to also look at this issue ?

[2019-10-02 16:43] quasiben opened #207 "Add test for CUDF"
With https://github.com/rapidsai/cudf/pull/2832, we should add a test for cudf objects for the new bindings -- these objects are a bit more complex than numba/cupy arrays and will need both host/cuda data passed around.  We should test the following:

## cudf types
Series (zero-length, regular large)
DataFrame (zero-length, regular, large, multi-column)

## dtypes
floats, strings, datetimes, ints

[2019-10-02 19:29] quasiben opened #208 "Stop Listener"
@madsbk what do you think about hanging an explicit `close`/`stop_listener` function off of the Listener object.  Right now the listener only gives up the connection when it's deleted, correct ?

[2019-10-02 21:30] jakirkham opened #210 "Place Endpoint's tags in a struct"
As [tags used by `Endpoint`]( https://github.com/rapidsai/ucx-py/blob/14e93062da4419a66ac875d28f62863fdfa06416/ucp/_libs/core.pyx#L299-L302 ) seem to always be dealt with [in batches]( https://github.com/rapidsai/ucx-py/blob/14e93062da4419a66ac875d28f62863fdfa06416/ucp/_libs/core.pyx#L44 ), it might make sense to just create a `struct` to contain them all with appropriate names. This should help c

[2019-10-02 21:45] jakirkham opened #211 "TODO: check that data is contiguous?"
We have this line in the codebase that appears to have moved around a bit. Is it still relevant? If so, how should we handle this?

https://github.com/rapidsai/ucx-py/blob/b68e727bdc27edc326cf16ef8c36debdfbd8eb3f/ucp/_libs/utils.pyx#L71

[2019-10-03 02:47] quasiben commented on #171
with the new bindings switch I am closing this issue

[2019-10-03 02:47] #171 closed

[2019-10-03 02:54] quasiben commented on #205
Some additional logs on the failure:

[code]

[2019-10-03 04:36] Akshay-Venkatesh commented on #205
Unable to repro on ucx-py `devel`. I'm on latest `ucx-cuda` commit.

[code]

[2019-10-03 04:41] Akshay-Venkatesh commented on #205
Given that you're on DGX machines with IB, one experiment worth trying is to see if switching back to `rdmacm` (instead of `sockcm`) helps and see if the problem can be narrowed down by using:

[code]

Another alternative is to remove `tcp` from the equation.

[2019-10-03 09:10] #207 closed

[2019-10-03 09:14] madsbk commented on #210
I totally agree :)

[2019-10-03 09:29] madsbk opened #213 "CI: cupy tests skipped"
The cupy tests are [skipped](https://gpuci.gpuopenanalytics.com/blue/organizations/jenkins/rapidsai%2Fgpuci-cuda101%2Fucx-py%2Fprb%2Fucx-py-gpu-build/detail/ucx-py-gpu-build/73/pipeline#log-2413) even though it is installed here:
https://github.com/rapidsai/ucx-py/blob/branch-0.10/ci/gpu/build.sh#L49

Any ideas what is wrong?

cc. @quasiben @jakirkham

[2019-10-03 09:44] madsbk commented on #197
I think it is a very good idea. I guess we need to ask devops for Travis-CI integration?

[2019-10-03 09:47] pentschev commented on #205
I can confirm the issue, but on `master` branch (not `devel`). I've also tried all combinations with/without `tcp` and with `sockcm`/`rdmacm`, all leading to the same crash.

[2019-10-03 10:16] pentschev commented on #205
I just tried `devel` and all tests passed (in all combinations I mentioned in my previous comment). So presumably the issue is within ucx-py's master branch?

Maybe @madsbk has an idea on where we could start?

[2019-10-03 11:33] quasiben commented on #213
Yes, CuPy is not included in the CI setup.  I'll get resolved today.

On Thu, Oct 3, 2019, 5:29 AM Mads R. B. Kristensen <notifications@github.com>
wrote:

[2019-10-03 11:40] madsbk commented on #205
I'm looking at it now. One thing I notice it that remove `rc` from `UCX_TLS` seems to fix it?

But even when the test passes, I get a lot of:
[code]

[2019-10-03 12:00] pentschev commented on #205
Indeed, it works for me too. However, removing `rc` causes Dask crashes even upon connect time, immediately after workers start to connect to scheduler, the scheduler starts printing the messages below while workers keep on restarting.

[code]

[2019-10-03 12:54] jakirkham commented on #210
Put together PR ( https://github.com/rapidsai/ucx-py/pull/215 ) to address this.

[2019-10-03 13:11] #213 closed

[2019-10-03 13:16] mrocklin commented on #197
I wonder if maybe @raydouglass or someone can give us sufficient credentials to set this up ourselves.  We'll want the ability to restart builds and generaly manage the web-based CI I think.

[2019-10-03 13:29] quasiben commented on #205
@pentschev we needed to make `branch-0.10` the default branch for CI purpose.  The tests are still failing there but wanted to explicitly state `branch-0.10` is where all further PRs are being merged not master.  Apologies for the inconvenience

[2019-10-03 13:46] quasiben opened #216 "Clean up branches"
The ucx-py has a number of stale branches.  @Akshay-Venkatesh any reason to keep the older branches.  This would mean keeping only `branch-0.10` and `devel`

cc @pentschev

[2019-10-03 13:56] pentschev commented on #205
The results are the same with `branch-0.10` as those I experienced with `master`.

[2019-10-03 15:44] Akshay-Venkatesh commented on #205
Dropping `rc` on dgx1 is a non starter. It's expected that rdma errors go away when you remove `rc` but it also means you're not taking advantage of infiniband.

@ben using `devel` is to illustrate that you need to look at current bindings in `0.1` to find where the differences lie.

[2019-10-03 16:38] jakirkham commented on #216
What is the purpose of the `devel` branch currently? It appears to have diverged from `branch-0.10`. Are the changes in it relevant? Should we include them in `branch-0.10`? Also how should the `devel` branch be maintained going forward?

[2019-10-03 16:41] quasiben commented on #216
`devel` is currently serving two purposes:

1) support legacy users/codebase should they exits
2) reference implementation while we work out problems with the new bindings

I don't think `devel` will be maintained moving forward

[2019-10-03 16:56] jakirkham commented on #213
Thanks Ben! 😄

[2019-10-03 17:09] jakirkham commented on #216
In that case, should we rename it to something like `legacy` or perhaps merge it into `branch-0.10` with a no change merge commit?

[2019-10-03 17:22] jakirkham commented on #205
@pentschev, could you please clarify what you mean by `master` (like a commit hash) as that branch was removed some time ago?

[2019-10-03 18:15] pentschev commented on #205
I can't, unfortunately it was a detached head locally and I've already moved to `branch-0.10`. But since the behavior was the same as it is in `branch-0.10`, it's safe to just assume the problem is the same.

[2019-10-03 21:11] jakirkham commented on #197
Travis CI grants restart privileges to anyone with write access on the repo. So we likely don’t need a separate workflow for that part (unless I’m missing something).

[2019-10-03 21:12] mrocklin commented on #197
Oh great

On Thu, Oct 3, 2019 at 4:11 PM jakirkham <notifications@github.com> wrote:

[2019-10-03 21:29] #211 closed

[2019-10-03 22:49] jakirkham opened #217 "TODO: exceptions in this callback is never showed when no get_exception_handler() is set"
Found the following TODO noted in the code. Am creating this issue as a placeholder for tracking it.

https://github.com/rapidsai/ucx-py/blob/bbe8d7be7a1a13e938a20a44355e85beb4693d6f/ucp/_libs/core.pyx#L34-L41

[2019-10-03 22:50] jakirkham opened #218 "TODO: make sure that a potential shutdown message isn't cancelled"
Found the following TODO noted in the code. Am creating this issue as a placeholder for tracking it.

https://github.com/rapidsai/ucx-py/blob/bbe8d7be7a1a13e938a20a44355e85beb4693d6f/ucp/_libs/core.pyx#L361-L368

[2019-10-03 22:51] jakirkham opened #219 "TODO: define a public Endpoint"
Found the following TODO noted in the code. Am creating this issue as a placeholder for tracking it.

https://github.com/rapidsai/ucx-py/blob/b68e727bdc27edc326cf16ef8c36debdfbd8eb3f/ucp/public_api.py#L5

[2019-10-04 09:40] jakirkham opened #221 "Alternatives to using UCX environment variables"
Today we recommend users set environment variables to configure UCX correctly. That said, those of us less familiar with UCX don’t always understand what they mean. Plus there is always the risk we forget to set these or use the wrong combination on a different machine. Finally it can complicate some deployment workflows to set these environment variables.

Given these challenges, I’m curious if w

[2019-10-04 09:56] mrocklin commented on #221
I'll echo this.  Less sophisticated Python users are often not culturally familiar with environment variables.

[2019-10-04 11:24] pentschev commented on #221
I understand the points here, and I do agree that the environment variables are very inconvenient for Python users. I don't know if this is the "right way" forward, but I would just like to point out that I'm working on dask-cuda to allow enabling UCX via arguments, which ensures the correct variables are set, e.g., https://github.com/rapidsai/dask-cuda/blob/branch-0.10/dask_cuda/dgx.py#L14-L15.

[2019-10-04 12:24] madsbk commented on #205
The BUG has something to do with how UCX and Numba interact when re-using CUDA allocations. The problem disappear if you insert `cuda.close()` at the end of [`test_send_recv_numba()`](https://github.com/rapidsai/ucx-py/blob/eba2cd68cd6da90558cd532b32b334659ff66c4d/tests/test_send_recv.py#L120) or if you save a reference to all Numba arrays so that no arrays are deallocated throughout the test.

[2019-10-04 13:22] madsbk opened #223 "Cython warning: "may be used uninitialized""
When compiling `branch-0.10` I see this Cython warning:
[code]
It refers to: https://github.com/rapidsai/ucx-py/blob/eba2cd68cd6da90558cd532b32b334659ff66c4d/ucp/_libs/core.pyx#L250
It still gives the warning when I change all arguments to something like:
[code]
However, if I remove the `await` the warning goes away.

Any thoughts?

[2019-10-04 14:47] quasiben commented on #223
The warning points to this bit of generated c code:
[code]

I went digging through some old cython issues and found that there have been issues with conditionals: https://github.com/cython/cython/issues/2274 -- but I don't that as being the issue here

[2019-10-04 15:38] quasiben opened #224 "Minimal TCP+NVLINK DASK EXAMPLE"
While we are working on debugging IB issues, we should build a minimal dask example which uses TCP and NVLINK and not IB.   This would probably mean something with dask-cuda:

[code]

cc @pentschev

[2019-10-04 15:39] quasiben commented on #224
The CI run line does not use RDMA/IB and looks like the following:

Notice, no `rc` value

[2019-10-04 22:01] pentschev commented on #224
Initial support (no tests yet) being worked in https://github.com/rapidsai/dask-cuda/pull/152

[2019-10-07 08:59] madsbk commented on #195
@quasiben can you enable the style enforcement in CI. I will be happy to fix any style issues :)

[2019-10-07 10:34] pentschev commented on #224
@quasiben could you confirm that removing `rc` is the only thing we need to disable RDMA/IB and use TCP? When I do that, once workers connect to scheduler, the scheduler starts to emit the following errors:

[code]

[2019-10-07 10:40] pentschev commented on #224
Ignore my previous comment, I still had `UCX_NET_DEVICES` set to the `mlx5_*:1` devices, and that was causing the issue.

[2019-10-07 11:49] #208 closed

[2019-10-07 11:54] quasiben commented on #195
see https://github.com/rapidsai/ucx-py/pull/227

[2019-10-07 15:40] MattBBaker commented on #221
Chiming in from the UCX perspective, the way those configs are adjusted at the ucp api level is through the function ucp_config_modify(). So for example, `status = ucp_config_modify(config, "MEMTYPE_CACHE", "n");` Will produce the desired result of setting `UCX_MEMTYPE_CACHE=n` in the environment.

So the desired config mechanism could be a matter of implementing a set_config() function that takes

[2019-10-07 15:57] jakirkham commented on #221
Thanks for the work here Peter and info Matt.

What if a user decides to modify these after initializing a UCX session? Is there a way to do this? Or would it require shutting down the existing session and restarting.

[2019-10-07 16:11] madsbk commented on #221
I don't think so :/ @MattBBaker @Akshay-Venkatesh?

Regarding making config options programmable, checkout: https://github.com/rapidsai/ucx-py/pull/225

[2019-10-07 17:11] MattBBaker commented on #221
@jakirkham Yes, since the config options affect how end points get wired up and how memory is managed the only way to make configuration changes apply is to tear down all the EPs and contexts anyways, so full reinitialzation is the only way of doing that.

[2019-10-07 17:47] jakirkham commented on #221
Thanks for sharing that @madsbk! @pentschev, you may be interested in looking at PR ( https://github.com/rapidsai/ucx-py/pull/225 ) given it may be a useful hook for dask-cuda.

Thanks for confirming @MattBBaker! That's what I figured, but wanted to make sure I wasn't missing something. 🙂

[2019-10-08 14:17] quasiben opened #229 "Document UCX usage with Dask"
UCX/UCX-py can be installed on linux machines with and without GPUs.  We should document and test using dask in non-GPU environments.

## Create an env

## Example usage of Distributed with UCX

The above probably does not and will require some configuration changes to distributed.  @mrocklin do you have any time/interest in building a small example of distributed with ucx TCP only ?

[2019-10-08 14:19] quasiben commented on #156
With new binding in I believe we can close this

[2019-10-08 14:19] #156 closed

[2019-10-08 14:36] pentschev commented on #229
This will require https://github.com/rapidsai/dask-cuda/pull/152, a minimal (DGX) example would look like:

[code]

But `dask-cuda-worker` is still not UCX-capable.

[2019-10-08 14:51] quasiben commented on #229
Thank you @pentschev for laying out how this should work with dask-cuda.  If we are in a non-cuda environment (only TCP) do you think dask can use UCX without `dask-cuda`  or is the configuration management too high at the moment ?

[2019-10-08 20:34] jakirkham commented on #186
@pentschev, have you tried running `git bisect` to identify which commit introduced the problem?

[2019-10-08 21:13] jakirkham commented on #223
FWIW (not that I completely understand why) this warning goes away for me with PR ( https://github.com/rapidsai/ucx-py/pull/215 ).

[2019-10-08 21:23] jakirkham commented on #223
Yeah it seems to have something to do with the `for`-loop. If I unroll the `for`-loop, the warning also goes away. ( https://github.com/rapidsai/ucx-py/pull/230 )

Maybe some issue with how Cython is generating code there as Ben has suggested.

[2019-10-08 21:37] jakirkham commented on #223
Came up with a somewhat similar (though still not quite the same) warning and raised upstream as issue ( https://github.com/cython/cython/issues/3172 ).

[2019-10-08 21:45] #83 closed

[2019-10-08 22:55] jakirkham commented on #223
Now that PR ( https://github.com/rapidsai/ucx-py/pull/215 ) is working and already fixes some other issues (in addition to this one), maybe we should just go ahead with that.

[2019-10-08 23:48] jakirkham opened #231 "cudatoolkit updated in CI (when it shouldn't be)"
Am seeing `cudatoolkit` getting updated in CI when it shouldn't be. In particular this is taken from the CUDA 9.2 job where I'm seeing the following lines. Any ideas as to why this is happening or how we might fix it?

[code]

ref: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/ucx-py/job/prb/job/ucx-py-gpu-build/105/console

cc @raydouglass

[2019-10-09 02:48] jakirkham opened #232 "Make Endpoint an extension type"
It would be useful to define `Endpoint` as an extension type. Particularly as its attributes can be defined as specific C-level types. This would simplify interactions with other C-level types and other extension types.

[2019-10-09 08:51] madsbk commented on #232
I am not sure; since `Endpoint` is a public class I think it is more user-friendly to have it as a regular Python class.
Alternatively, we could have a public regular Python class that exposes the public API and then have a  Cython endpoint class as back-end?

[2019-10-09 13:12] cjnolet opened #234 "Endpoint pretty print function appears to use an old instance variable name"
While updating cuML's comms to use the new UCX API, I found that the pretty print function in the [Endpoint class](https://github.com/rapidsai/ucx-py/blob/branch-0.10/ucp/_libs/core.pyx#L535) is calling what appears to be an older name for the underlying `ucp_ep` pointer.

Not a huge deal, though it would be nice to be able to use this feature for debugging. Currently, I end up having to add the `

[2019-10-09 13:26] cjnolet opened #235 "Inconsistent separation of public vs private API"
I just finished updating cuML to use the new ucx-py API and I'm really happy for the changes! I'm also happy for the more subtle changes, like no longer having to call `.encode()` on the IP for creating an endpoint.

While diving a bit further into the Cython, and seeing the the main entrypoint was renamed to `public_api.py`, I did find that I still needed to physically look through the underlying

[2019-10-09 13:37] kkraus14 commented on #231
@jakirkham My guess is https://github.com/rapidsai/ucx-py/blob/branch-0.10/ci/gpu/build.sh#L25 is being set to empty erroneously and that's causing the cudatoolkit specification to be dropped. Maybe try echoing that in the script to test in a PR?

[2019-10-09 13:56] jakirkham commented on #232
At least having some part of it be an extension type would be helpful as we can then type its attributes.

[2019-10-09 13:58] madsbk commented on #235
Thanks!
Regarding the public API, I think you are right. Having both a public and a private class of `Endpoint` and `Listener` would also address @jakirkham issue: https://github.com/rapidsai/ucx-py/issues/232.

What is your thoughts @jakirkham?

[2019-10-09 13:59] jakirkham commented on #231
Earlier in the same log it appears to be set. Would it be unset later for some reason? Or are there other possible causes?

[code]

[2019-10-09 14:01] kkraus14 commented on #231
Nope the spec being passed looks good:
[code]

[2019-10-09 14:02] kkraus14 commented on #231
@jakirkham looks like the issue is we're requesting `cupy >= 6.3.0` and we only have CUDA 10.1 builds of it: https://anaconda.org/rapidsai/cupy/files

[2019-10-09 14:04] jakirkham commented on #235
Yeah was just reading this issue. That sounds reasonable.

Cython can also make extension types available from C code. Though IDK if we have a use case for that as well.

[2019-10-09 14:26] madsbk commented on #232
Agree, I will work on a PR tomorrow.

[2019-10-09 14:49] jakirkham commented on #235
@cjnolet, do you have any particular thoughts on what should be part of that public Python API?

[2019-10-09 14:51] jakirkham commented on #231
Ah ok. Well if it would help, I have [CUDA 9.2 and 10.0 packages]( https://anaconda.org/jakirkham/cupy/files?version=6.3.0 ) if we'd be ok copying them over.

[2019-10-09 14:52] kkraus14 commented on #231
I'd open an ops issue and ping Ray :)

[2019-10-09 15:03] jakirkham commented on #231
Was about to, but there's already issue ( https://github.com/rapidsai/ops/issues/396 ) 😉

[2019-10-09 15:06] cjnolet commented on #235
I think most users will interact with the `Endpoint` class, primarily using the functions `send`, `receive`, `closed` and `close()`.

cuML is a little bit of a special case because we also need to get the pointers to the underlying `ucp_ep_h` and `ucp_worker_h` instances. It would be nice to have a method to get this pointer with a similar API volatility guarantee as what the public API provides,

[2019-10-09 18:43] jakirkham opened #237 "Discover connectivity of node(s)"
Currently configuring performant connectivity with UCX is a bit of a challenge and may require looking at the network topology and hardcoding connections as discussed a bit in [this blogpost]( https://blog.dask.org/2019/06/09/ucx-dgx ). Also other hardware may use a different configuration. This is a lot for the average user to keep track of and we are only discussing one node thus far. Of course

[2019-10-09 18:46] jakirkham commented on #237
cc @pentschev @madsbk @quasiben @mrocklin

[2019-10-09 19:32] pentschev commented on #237
Yeah, this is in my todo list, had no time yet. We already find CPU affinity automatically, next step is to find shortest-path InfiniBand automatically. The first is done via NVML (pynvml), but the latter doesn't seem to be possible directly with NVML -- even though nvidia-smi prints that -- and we may need to go to libnuma/libpci for that.

[2019-10-09 19:33] pentschev commented on #237
The current CPU affinity work is in dask-cuda, but eventually we may move it here or keep in both places, which might make sense when they aren't used in conjunction with each other.

[2019-10-10 08:07] #223 closed

[2019-10-10 08:31] #210 closed

[2019-10-10 13:57] jakirkham commented on #231
Going to try and relax the requirement on CuPy to see if that works. ( https://github.com/rapidsai/ucx-py/pull/239 )

[2019-10-10 20:58] quasiben commented on #186
I've submitted https://github.com/rapidsai/ucx-py/pull/233 to as a tests which should pass when NVLINK is working correctly

[2019-10-11 02:38] quasiben commented on #237
I like the idea of auto-discovery.  We've fallen into a couple of pits but maybe those can be codified into auto-discovery as well.    Recent pits would include permissions around nvml, configuration challenges with IB interfaces (IP over IB).  There is some future where UCX is making these decisions for the user -- whether that future is months or years away is not something I know.

[2019-10-11 04:30] jakirkham commented on #223
Fixed in PR ( https://github.com/rapidsai/ucx-py/pull/215 ).

[2019-10-11 07:33] #234 closed

[2019-10-11 08:32] pentschev commented on #237
That is good news, but is this future part of OpenUCX or UCX-Py? If the former, is there an issue filed for that already?

[2019-10-11 14:49] mrocklin opened #241 "Include non-GPU conda installation instructions in README"
@jakirkham , are we ready for this?

[2019-10-11 16:01] jakirkham commented on #241
Sure. Instead of `ucx-proc=*=gpu` one might write `ucx-proc=*=<proc type>` and explain `<proc type>` is either `cpu` or `gpu`.

[2019-10-11 16:10] mrocklin commented on #241
Is it too early to include this in the README?

On Fri, Oct 11, 2019 at 11:01 AM jakirkham <notifications@github.com> wrote:

[2019-10-11 16:13] jakirkham commented on #241
I haven't been actively using these packages myself. So I can't really comment on how useable they are or are not. That would be a question for someone else I think. Alternatively if you have a use case for them, maybe you could try them out on that use case and see how well they behave. In either case the feedback would be welcome. 🙂

[2019-10-11 16:23] mrocklin commented on #241
Sure.  I'll try things out locally and then report back.

On Fri, Oct 11, 2019 at 11:13 AM jakirkham <notifications@github.com> wrote:

[2019-10-11 16:25] jakirkham commented on #241
Thanks for doing that 🙂

[2019-10-11 16:33] pentschev commented on #241
I tried the packages, for a while and I didn't notice any difference from the ones I compiled from source, so I think they're fairly safe. Thanks @jakirkham for them! :)

[2019-10-11 16:34] jakirkham commented on #241
Were those the CPU ones, the GPU ones, or both?

[2019-10-11 16:47] pentschev commented on #241
GPU, I didn't test the CPU at all so far.

[2019-10-11 17:46] jakirkham commented on #237
@Akshay-Venkatesh, do you have any thoughts on @pentschev's question above?

[2019-10-11 18:14] mrocklin commented on #241
Hrm, I'm getting this

[code]

[2019-10-11 18:17] mrocklin commented on #241
My guess is that while there are cpu-only ucx packages, the ucx-py packages in @jakirkham 's channel somehow need the GPU variants.

[2019-10-11 18:30] quasiben commented on #241
@mrocklin can you trry with the channel `jakirkham/label/ucx-new` (notice the `new`)

[2019-10-11 18:43] mrocklin commented on #241
That does work.  Thanks @quasiben .

I'm happy to submit a PR to the README with this, but I'm also happy to wait if we're going to consolidate on a particular channel in the near future.

[2019-10-11 18:48] jakirkham commented on #241
Was leaving the packages with the API pre-Mads rewrite in the `ucx` label in case it was important to people. So noting `ucx-new` in the README is probably worthwhile. Though I wouldn't object if we wanted to reorg the packages somehow.

[2019-10-11 18:50] mrocklin commented on #241
Is the plan to move this to conda-forge at some point?  If so, when is that
likely to happen?  (no time pressure though)

On Fri, Oct 11, 2019 at 11:48 AM jakirkham <notifications@github.com> wrote:

[2019-10-11 18:56] jakirkham commented on #241
That's the plan. We need OpenUCX to make a release though. Even an RC would help. Sound like in a couple weeks.

xref: https://github.com/openucx/ucx/issues/4262
xref: https://github.com/conda-forge/ucx-split-feedstock/issues/31

[2019-10-11 18:57] jakirkham commented on #241
Short term we can add our stuff to the RAPIDS fork of the feedstock.

[2019-10-11 18:59] jakirkham commented on #241
Once that does happen though we can fold in the ucx-py build at the same time. So both can be published to conda-forge then.

[2019-10-11 19:03] quasiben commented on #186
@pentschev and i confirmed that IPC/NVlinK tests are working when using `ucx-cuda-backup`

[2019-10-11 19:09] mrocklin opened #242 "High CPU usage when using with Dask"
I'm running the following script on a commodity linux laptop without a GPU, just to verify that things work

[code]

When I set `UCX_TLS=tcp` then I get the following error:

[code]

When I add in `sm`, which I think is shared memory, things connect, but start to pin a CPU

cc @madsbk @Akshay-Venkatesh

[2019-10-11 19:49] jakirkham opened #244 "Including notebooks with examples"
After chatting with @randerzander and @VibhuJawa, we thought it might be nice to include some examples of how to use ucx-py. In particular we were thinking of usage with cuDF. Though other examples may make sense as well. Our thought was it would be good to create a `notebooks` directory here with a few examples. Does this seem reasonable to others? If so, what sorts of examples would we like to a

[2019-10-11 19:52] mrocklin commented on #244
What kind of examples are we looking for?  If you're in a notebook using something like LocalCUDACluster then you just add a `protocol="ucx"` keyword

[code]

The challenge, I think, is setting up all of the UCX environment variables correctly (see #221 and https://github.com/openucx/ucx/issues/4273 and https://github.com/dask/distributed/pull/3135)

[2019-10-11 19:56] jakirkham commented on #244
One example that was floated was doing a join with dask-cudf and UCX.

[2019-10-11 19:57] mrocklin commented on #244
I think that such a notebook should exist.  It seems to be more about dask-cudf than UCX though.  Only one line in that notebook would include "ucx".  I think it makes sense for that to be in rapids notebooks instead.

[2019-10-11 20:05] jakirkham commented on #244
I think the general consensus was we want to limit the number of places people need to look. So that would seem to meet that requirement. WDYT @randerzander? Would it be reasonable to stick this in [RAPIDS notebooks]( https://github.com/rapidsai/notebooks )?

[2019-10-11 20:12] mrocklin commented on #244
I think also once ucx becomes easier to install and use (which is rapidly
becoming the case) we might also just make it on by default for all of the
dask-cuda options.

On Fri, Oct 11, 2019 at 1:05 PM jakirkham <notifications@github.com> wrote:

[2019-10-11 20:36] mrocklin commented on #242
Possibly related.  This hangs:

[code]

[2019-10-11 20:46] pentschev commented on #186
@Akshay-Venkatesh after checking branches with @quasiben, we found out that there's a lot of commits in your `ucx-cuda-backup` branch that are not contained in `ucx-cuda`. I started to merge both branches, but I hit a point that there was too much logic that I couldn't really tell which one to keep or how to merge them, since I don't have deep understanding of the code.

Would you be able to merge

[2019-10-12 00:15] mrocklin opened #245 "Why don't we use UCX_TLS=all"
Hypothetically we should be able to set `UCX_TLS=all` and UCX should choose all available transports.  However in practice we don't do this, we set a specific set manually.  I believe that this came out of need, simply setting `all` wasn't giving us the performance that we expected.  It would be useful to start exploring why this is, and see if we can identify issues upstream that would help to ad

[2019-10-12 02:43] jakirkham commented on #186
FWIW there’s no diff between OpenUCX `master` and `ucx-cuda`.

It would be nice if there are additional changes in `ucx-cuda-backup`, to also send them upstream. Would like to start basing our packaging work off of 1.7.0 and upstreaming this content soon would really help. 😁

[2019-10-12 03:42] jakirkham commented on #201
I think we have more-or-less handled this. So closing it out.

[2019-10-12 03:42] #201 closed

[2019-10-12 03:43] jakirkham commented on #216
Thoughts?

[2019-10-12 03:47] jakirkham commented on #186
Also @pentschev given you have found a working commit and a not working commit, I’m curious what the results of `git bisect` yield. Is there a single commit that makes the difference? If so, we could extract that and use it in builds as well as send it upstream for integration. 😀

[2019-10-12 03:49] jakirkham commented on #118
It sounds like the story is changing with the upcoming 1.7.0.

[2019-10-12 03:51] jakirkham commented on #111
@madsbk, is this already handled with your rewrite?

[2019-10-12 03:52] jakirkham commented on #65
Closing as completed.

[2019-10-12 03:52] #65 closed

[2019-10-12 04:00] jakirkham commented on #68
These days I’d encourage users working with dev builds to use the `compilers` package from conda-forge.  This will set the right flags basically out-of-the-box and use modern compilers for the build.

[2019-10-12 04:00] #68 closed

[2019-10-12 10:19] madsbk commented on #111
No, but we could exchange IP/Port information when we initiate communication between two endpoints similar to how we exchange _tag_ information

[2019-10-12 10:22] madsbk commented on #216
I think at renaming `devel` to `legacy` is a good idea

[2019-10-12 11:29] pentschev commented on #186
As I said before, the commits in `ucx-cuda-backup` are _not_ contained in `ucx-cuda`, therefore, git bisect has no purpose. I think if we merge `ucx-cuda-backup` in `ucx-cuda` things will work, but there are some code paths that I can't merge by myself as the diff is too complex for someone without any knowledge of how things work, specifically the changes to `sockcm`.

[2019-10-12 15:54] jakirkham commented on #186
I don’t think that is accurate. At some point `ucx-cuda` and `ucx-cuda-backup` have a common origin. If the common  origin does work, then we should be able to find the commit in `ucx-cuda` that broke things. If the common origin doesn’t work, we should be able to identify the commit in `ucx-cuda-backup` that fixed things. Either way we should be able to generate a patch from this commit that reve

[2019-10-13 19:39] pentschev commented on #186
This is true, I'm not claiming otherwise.

This is what I'm saying, I don't think there's a common origin that works, which some commit(s) broke. It's clear that some of the commits in `ucx-cuda-backup` were never part of `ucx-cuda`, and the branches should be merged together. We can see the commits that aren't part of the `ucx-cuda` branch [here](https://github.com/Akshay-Venkatesh/ucx/compare/uc

[2019-10-13 19:41] pentschev commented on #186
IOW, finding the commits that work is likely not the problem, merging them into the current code is (for me, but for Akshay, that's likely going to be easy).

[2019-10-14 08:45] pentschev commented on #245
I agree, this would be the simplest. IMO more important than `UCX_TLS`, if we didn't need to set the `UCX_NET_DEVICES` variable, things would then be much easier, given that may change depending on system's topology.

[2019-10-14 14:01] mrocklin commented on #197
If it's ok, I think I would actually still prefer to use travis-ci for CPU builds.  It's a pretty standard service that a lot of the community is familiar with.  If there isn't a strong need for us to own CI here I would prefer to keep to standard community solutions.  Is that ok?

[2019-10-14 15:11] quasiben commented on #216
I like that too -- @Akshay-Venkatesh do you have thoughts here ?

[2019-10-14 15:20] #219 closed

[2019-10-14 15:20] #235 closed

[2019-10-14 16:18] jakirkham commented on #232
Now that there is a private portion, [`_Endpoint`]( https://github.com/rapidsai/ucx-py/blob/424206e0ff9ebdec8ecaf771f36a893b9eb76018/ucp/_libs/core.pyx#L366 ), would it make sense to turn that into an extension type?

[2019-10-14 17:07] jakirkham commented on #216
Sounds like everyone is on-board. So renamed `devel` to `legacy`.

To preserve the history (should we decide to delete `legacy` later), have done a no-op merge into `branch-0.10`. This leaves `branch-0.10` unchanged, but keeps the history from `legacy` accessible.

Should we close this issue?

[2019-10-14 17:40] VibhuJawa commented on #229
I just want to confirm as the pr#152 is now merged, Is `dask-cuda`  worker now supposed to be `ucx` compatible  ?

If yes, could you share a updated minimal example for a `dgx`  setup as i think does not have the `interface` argument which you show in above example.

see: https://github.com/rapidsai/dask-cuda/blob/ac37fedbb01b81d99b3afe0038b5981b9f115ce7/dask_cuda/utils.py#L132-L134

[2019-10-14 18:51] VibhuJawa opened #248 "[DOC] Readme Suggestions"
I was trying to build `ucx` using dask and ran into these issues:

### 1. **Incorrect Dask URL:**
The below url for dask is incorrect i think as it should point to dask instead of rapidsai:

https://github.com/rapidsai/ucx-py/blob/branch-0.10/README.md#dask
[code]

### 2. **http instead of git@**
Also, i am wondering if it will be better to have a `http` urls instead of `git@url` in docs as users

[2019-10-14 19:13] quasiben commented on #248
Thanks @VibhuJawa for the issue!

Yes, the url should is incorrect

I think leaving as `git@url` is ok but I don't have a strong preference.  But I don't think we have to be to worried about ssh keys and containers.  My assumption here is that those using containers will be mostly using conda packages.  Do you think envs with containers will still want bleeding edge ?

Agreed

I'm retooling the be

[2019-10-14 19:48] quasiben opened #250 "Endpoint Creation Failure"
When creating a problematic endpoint ucp blocks all signals:

[code]

`crtl-c`  has no effect

[2019-10-14 19:58] VibhuJawa commented on #248
FWIW, As a user who switches across containers nightly containers regularly i personally will like that , I am not sure about other users .

4. Script to check if ucx is working for a non source installation
This issue may be similar to document UCX usage with dask issue but it will be nice to have test/script i can run which checks if ucx was set up correctly.

Thanks a lot , please let me know w

[2019-10-14 22:17] jakirkham opened #251 "Releasing the GIL"
Currently we don't release the GIL in the code. Perhaps this is something we should? If so, it would be good to identify where we can release the GIL. If this is not something we should do, it would be good to understand why.

[2019-10-14 22:24] pentschev commented on #186
After a long conversation with @Akshay-Venkatesh (thanks very much!), we found out that NVLink on `ucx-cuda` branch _does work_. One way to verify that is building that branch with [this patch](https://gist.github.com/Akshay-Venkatesh/f7ba35d13410da60f5e131afa0a738eb#file-ucx_perf_blocking_progress-diff), and following [these steps](https://gist.github.com/Akshay-Venkatesh/f7ba35d13410da60f5e131af

[2019-10-14 22:29] jakirkham commented on #186
One thing Akshay pointed out is that using UCX in blocking mode seems to exhibit this behavior.  I'm not sure what would be involved to use UCX in non-blocking mode from ucx-py, but that would presumably fix this issue.

[2019-10-15 02:16] #165 closed

[2019-10-15 02:20] quasiben commented on #186
i just test with latest of ucx and confusingly I saw traffic on nvlink.  This is the version of ucx i am on:

[code]

and i ran this command: